<!DOCTYPE html>

<html lang="en" style="">

<head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <link href="cid:css-cb9e13e8-7e4c-4850-bd2f-a3c672a1620b@mhtml.blink" rel="stylesheet" type="text/css" />
      <link href="cid:css-101d986c-f5c5-4715-8167-6447aa46c2bc@mhtml.blink" rel="stylesheet" type="text/css" />
      <link href="cid:css-91a29a0a-a35f-4df8-a7e4-cdb0c823b6ab@mhtml.blink" rel="stylesheet" type="text/css" />
      <!--mui-inject-first-->
      <meta content="width=device-width" name="viewport" />
      <title>ASTRALIZ</title>
      <meta content="ASTRALIZ" property="og:title" />
      <meta content="ea688f7d-9420-4940-b046-f90ff48348a7" name="trustpilot-one-time-domain-verification-id" />
      <meta content="ld6fauq8wysgqi8nxb014927mbq37x" name="facebook-domain-verification" />
      <link as="image" href="https://appnebula.co/_next/static/media/sprite.de50d001cd51cb97.svg" rel="preload"
            type="image/svg+xml" />
      <link as="image" fetchpriority="high" imagesizes="100vw"
            imagesrcset="/_next/image/?url=https%3A%2F%2Fmedia.appnebula.co%2Fbackgrounds%2Fdesktop%2Fcouple_holding_hands_1.jpg&amp;w=1600&amp;q=90 1600w"
            rel="preload" />
      <link as="image" fetchpriority="high" imagesizes="100vw"
            imagesrcset="/_next/image/?url=https%3A%2F%2Fmedia.appnebula.co%2Fbackgrounds%2Fdesktop%2Fcouple_in_bad_2.jpg&amp;w=1600&amp;q=90 1600w"
            rel="preload" />
      <meta content="9" name="next-head-count" />
      <link href="https://appnebula.co/favicon.png" rel="icon" />
      <link href="https://appnebula.co/logo.png" rel="apple-touch-icon" />
      <link href="https://fonts.googleapis.com/" rel="preconnect" />
      <link href="https://fonts.gstatic.com/" rel="preconnect" />
      <link as="style" crossorigin="" href="https://appnebula.co/_next/static/css/629ed52e377e3328.css" rel="preload" />
      <link crossorigin="" data-n-g="" href="https://appnebula.co/_next/static/css/629ed52e377e3328.css"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;display=swap"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="https://pay.google.com/gp/p/js/pay.js" id="google-pay-prefetch-id" rel="prefetch" />
      <meta content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"
            http-equiv="origin-trial" />
      <link href="./results2/relationshipProblem/part_3.css" rel="stylesheet" type="text/css">
      <link href="./results2/relationshipProblem/part_2.css" rel="stylesheet" type="text/css">
      <link href="./results2/relationshipProblem/part_21.css" rel="stylesheet" type="text/css">
      <link href="./results2/relationshipProblem/part_22.css" rel="stylesheet" type="text/css">
      <link href="./results2/relationshipProblem/part_23.css" rel="stylesheet" type="text/css">
      <link href="./results2/relationshipProblem/part_24.css" rel="stylesheet" type="text/css">
      <link href="part_3.css" rel="stylesheet" type="text/css">
      <link href="part_2.css" rel="stylesheet" type="text/css">
      <link href="part_21.css" rel="stylesheet" type="text/css">
      <link href="part_22.css" rel="stylesheet" type="text/css">
      <link href="part_23.css" rel="stylesheet" type="text/css">
      <link href="part_24.css" rel="stylesheet" type="text/css">
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      </link>
      <style>
            .emoji-icon {
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: 38px;
                  height: 38px;
                  font-size: 32px;
                  /* Size of emoji */
                  background-color: #f5f7fa;
                  /* Matches a neutral background */
                  border-radius: 50%;
                  /* Makes the emoji container circular */
                  margin-right: 8px;
                  /* Optional: spacing between emoji and text */
            }
      </style>
      <style>
            .emoji-icon {
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: 45px;
                  height: 45px;
                  font-size: 32px;
                  /* Size of emoji */
                  background-color: transparent;
                  border-radius: 50%;
                  /* Makes the emoji container circular */
                  margin-right: 8px;
                  /* Optional: spacing between emoji and text */
            }
      </style>
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1212.0">
      <div id="__next">
            <div class="sc-e7f8dab0-0 fbEKfK">
                  <div class="sc-e7f8dab0-1 iyEYIv">
                        <div class="sc-e7f8dab0-2 kJzitJ">
                              <div class="sc-e7f8dab0-3 bySgDj">
                                    <div class="sc-ad2be78a-0 iIKZPe"></div>
                                    <div class="sc-18c51f36-0 fHGGon"><svg aria-hidden="true"
                                                class="sc-72d3801b-0 iIYHnr sc-18c51f36-1 lEtxG" height="18"
                                                width="16px">
                                                <use
                                                      xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#ASTRALIZ-small">
                                                </use>
                                          </svg><button class="sc-7d2fef68-0 hcsPhS sc-18c51f36-2 belwZd"><svg
                                                      aria-hidden="true"
                                                      class="sc-72d3801b-0 iIYHnr sc-7d2fef68-1 eYZZcB" height="16px"
                                                      width="16px">
                                                      <use
                                                            xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#arrow-simple">
                                                      </use>
                                                </svg></button><svg aria-hidden="true"
                                                class="sc-72d3801b-0 iIYHnr sc-465e1a5-0 ikDFKh" height="24" width="24">
                                                <use
                                                      xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#burger">
                                                </use>
                                          </svg></div>
                                    <div
                                          class="sc-gWHAAX kIqUlp MuiStepper-root MuiStepper-horizontal sc-6235ffbe-0 juDvFH">
                                          <div
                                                class="sc-eywOmQ beHWsu MuiStep-root MuiStep-horizontal Mui-completed sc-6235ffbe-2 jsPCoQ">
                                                <div class="sc-6235ffbe-5 NLMoi"></div><span
                                                      class="sc-hUOJWJ gLOgbl MuiStepLabel-root MuiStepLabel-horizontal sc-6235ffbe-3 bJvRVi"
                                                      color="#8E8CF0"><span
                                                            class="sc-ePzlA-D dhNdbg MuiStepLabel-iconContainer Mui-active Mui-completed"><svg
                                                                  aria-hidden="true"
                                                                  class="sc-eAzDjm gPNuFP MuiSvgIcon-root MuiSvgIcon-fontSizeMedium sc-fABZjn iliwYY MuiStepIcon-root Mui-active Mui-completed"
                                                                  data-testid="CheckCircleIcon" focusable="false"
                                                                  viewbox="0 0 24 24">
                                                                  <path
                                                                        d="M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24zm-2 17l-5-5 1.4-1.4 3.6 3.6 7.6-7.6L19 8l-9 9z">
                                                                  </path>
                                                            </svg></span><span
                                                            class="sc-gjJAnY eoORYr MuiStepLabel-labelContainer"></span></span>
                                                <div class="sc-fFGjHI bzIjyJ MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 sc-crozmw eovbqh MuiMobileStepper-root MuiMobileStepper-positionStatic sc-6235ffbe-4 CdAUv"
                                                      color="#8E8CF0">
                                                      <div></div><span aria-valuemax="100" aria-valuemin="0"
                                                            aria-valuenow="80"
                                                            class="sc-dcrmVg jDIPrQ MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate sc-jeCNp ddWVRT MuiMobileStepper-progress"
                                                            role="progressbar"><span
                                                                  class="sc-duSInm kXIEmV MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate"
                                                                  style="transform: translateX(-20%);"></span></span>
                                                      <div></div>
                                                </div>
                                          </div>
                                          <div
                                                class="sc-eywOmQ beHWsu MuiStep-root MuiStep-horizontal sc-6235ffbe-2 jsPCoQ">
                                                <span class="sc-hUOJWJ gLOgbl MuiStepLabel-root MuiStepLabel-horizontal Mui-disabled sc-6235ffbe-3 bJvRVi"
                                                      color="#8E8CF0"><span
                                                            class="sc-ePzlA-D dhNdbg MuiStepLabel-iconContainer Mui-disabled"><svg
                                                                  aria-hidden="true"
                                                                  class="sc-eAzDjm gPNuFP MuiSvgIcon-root MuiSvgIcon-fontSizeMedium sc-fABZjn iliwYY MuiStepIcon-root"
                                                                  focusable="false" viewbox="0 0 24 24">
                                                                  <circle cx="12" cy="12" r="12">
                                                                  </circle><text
                                                                        class="sc-gUMnWI krECEr MuiStepIcon-text"
                                                                        dominant-baseline="central" text-anchor="middle"
                                                                        x="12" y="12">2</text>
                                                            </svg></span><span
                                                            class="sc-gjJAnY eoORYr MuiStepLabel-labelContainer"></span></span>
                                                <div class="sc-fFGjHI bzIjyJ MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 sc-crozmw eovbqh MuiMobileStepper-root MuiMobileStepper-positionStatic sc-6235ffbe-4 iutCRo"
                                                      color="#56CCF2">
                                                      <div></div><span aria-valuemax="100" aria-valuemin="0"
                                                            aria-valuenow="0"
                                                            class="sc-dcrmVg jDIPrQ MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate sc-jeCNp ddWVRT MuiMobileStepper-progress"
                                                            role="progressbar"><span
                                                                  class="sc-duSInm kXIEmV MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate"
                                                                  style="transform: translateX(-100%);"></span></span>
                                                      <div></div>
                                                </div>
                                          </div>
                                          <div
                                                class="sc-eywOmQ beHWsu MuiStep-root MuiStep-horizontal sc-6235ffbe-2 jsPCoQ">
                                                <span class="sc-hUOJWJ gLOgbl MuiStepLabel-root MuiStepLabel-horizontal Mui-disabled sc-6235ffbe-3 eSbdBy"
                                                      color="#56CCF2"><span
                                                            class="sc-ePzlA-D dhNdbg MuiStepLabel-iconContainer Mui-disabled"><svg
                                                                  aria-hidden="true"
                                                                  class="sc-eAzDjm gPNuFP MuiSvgIcon-root MuiSvgIcon-fontSizeMedium sc-fABZjn iliwYY MuiStepIcon-root"
                                                                  focusable="false" viewbox="0 0 24 24">
                                                                  <circle cx="12" cy="12" r="12">
                                                                  </circle><text
                                                                        class="sc-gUMnWI krECEr MuiStepIcon-text"
                                                                        dominant-baseline="central" text-anchor="middle"
                                                                        x="12" y="12">3</text>
                                                            </svg></span><span
                                                            class="sc-gjJAnY eoORYr MuiStepLabel-labelContainer"></span></span>
                                                <div class="sc-fFGjHI bzIjyJ MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 sc-crozmw eovbqh MuiMobileStepper-root MuiMobileStepper-positionStatic sc-6235ffbe-4 dqKQue"
                                                      color="#BB6BD9">
                                                      <div></div><span aria-valuemax="100" aria-valuemin="0"
                                                            aria-valuenow="0"
                                                            class="sc-dcrmVg jDIPrQ MuiLinearProgress-root MuiLinearProgress-colorPrimary MuiLinearProgress-determinate sc-jeCNp ddWVRT MuiMobileStepper-progress"
                                                            role="progressbar"><span
                                                                  class="sc-duSInm kXIEmV MuiLinearProgress-bar MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate"
                                                                  style="transform: translateX(-100%);"></span></span>
                                                      <div></div>
                                                </div>
                                          </div>
                                          <div
                                                class="sc-eywOmQ beHWsu MuiStep-root MuiStep-horizontal sc-6235ffbe-2 jsPCoQ">
                                                <span class="sc-hUOJWJ gLOgbl MuiStepLabel-root MuiStepLabel-horizontal Mui-disabled sc-6235ffbe-3 dmVEZi"
                                                      color="#BB6BD9"><span
                                                            class="sc-ePzlA-D dhNdbg MuiStepLabel-iconContainer Mui-disabled"><svg
                                                                  aria-hidden="true"
                                                                  class="sc-eAzDjm gPNuFP MuiSvgIcon-root MuiSvgIcon-fontSizeMedium sc-fABZjn iliwYY MuiStepIcon-root"
                                                                  focusable="false" viewbox="0 0 24 24">
                                                                  <circle cx="12" cy="12" r="12">
                                                                  </circle><text
                                                                        class="sc-gUMnWI krECEr MuiStepIcon-text"
                                                                        dominant-baseline="central" text-anchor="middle"
                                                                        x="12" y="12">4</text>
                                                            </svg></span><span
                                                            class="sc-gjJAnY eoORYr MuiStepLabel-labelContainer"></span></span>
                                          </div>
                                    </div>
                                    <p class="sc-6235ffbe-1 fYYkUm">Seu perfil</p>
                                    <div class="sc-9ee495f6-0 fWMMPs">
                                          <h2 class="sc-afb6f474-0 hxvRjX sc-f03caffe-8 duATMu">
                                                <%=gender%> de <%=sign%>
                                                            na sua faixa etária que <%= have_children%> precisam de uma
                                                                  abordagem um pouco diferente
                                                                  para <%=goal%>.
                                                                        Qual afirmação
                                                                        descreve melhor
                                                                        sua satisfação
                                                                        atual no relacionamento?
                                          </h2>
                                          <div class="sc-f03caffe-1 hzGzyl">
                                                <ul class="sc-f03caffe-3 dyjmEm">
                                                      <li class="sc-f03caffe-4 eysfmK"
                                                            onclick="window.location.href='/partner14?partner13=1'">
                                                            <div class="sc-b28c61d2-0 hCsRSy sc-f03caffe-9 rxBnk">
                                                                  <div class="sc-b28c61d2-2 hOrGZN">
                                                                        <span aria-label="🙁"
                                                                              class="sc-e5cbfa94-0 cDkOYT sc-b28c61d2-1 ksUEoP emoji-icon"
                                                                              height="38" width="38">🙁</span>
                                                                  </div>
                                                                  <p class="sc-b28c61d2-3 bqfKpL">Estou muito infeliz
                                                                        com como as coisas estão indo no meu
                                                                        relacionamento.</p>
                                                            </div>
                                                      </li>
                                                      <li class="sc-f03caffe-4 eysfmK"
                                                            onclick="window.location.href='/partner14?partner13=2'">
                                                            <div class="sc-b28c61d2-0 hCsRSy sc-f03caffe-9 rxBnk">
                                                                  <div class="sc-b28c61d2-2 hOrGZN">
                                                                        <span aria-label="😐"
                                                                              class="sc-e5cbfa94-0 eTReDG sc-b28c61d2-1 ksUEoP emoji-icon"
                                                                              height="38" width="38">😐</span>
                                                                  </div>
                                                                  <p class="sc-b28c61d2-3 bqfKpL">Alguns aspectos do meu
                                                                        relacionamento estão funcionando, mas outros
                                                                        não.</p>
                                                            </div>
                                                      </li>
                                                      <li class="sc-f03caffe-4 eysfmK"
                                                            onclick="window.location.href='/partner14?partner13=3'">
                                                            <div class="sc-b28c61d2-0 hCsRSy sc-f03caffe-9 rxBnk">
                                                                  <div class="sc-b28c61d2-2 hOrGZN">
                                                                        <span aria-label="🙂"
                                                                              class="sc-e5cbfa94-0 DkeqH sc-b28c61d2-1 ksUEoP emoji-icon"
                                                                              height="38" width="38">🙂</span>
                                                                  </div>
                                                                  <p class="sc-b28c61d2-3 bqfKpL">Estou geralmente feliz
                                                                        com meu relacionamento.</p>
                                                            </div>
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>
                                    <div class="sc-f753d17c-0 khJWTm">
                                          <div class="sc-ad2be78a-0 iIKZPe"><img alt="" class="sc-37068a57-0 DTWSl"
                                                      data-nimg="fill" decoding="async" fetchpriority="high" height="0"
                                                      src="https://appnebula.co/_next/image/?url=https%3A%2F%2Fmedia.appnebula.co%2Fbackgrounds%2Fdesktop%2Fcouple_holding_hands_1.jpg&amp;w=1600&amp;q=90"
                                                      style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; object-position: center top; color: transparent;"
                                                      width="0" /></div>
                                    </div>
                                    <div class="sc-f753d17c-0 khJWTm">
                                          <div class="sc-ad2be78a-0 iIKZPe"><img alt="" class="sc-37068a57-0 DTWSl"
                                                      data-nimg="fill" decoding="async" fetchpriority="high" height="0"
                                                      src="https://appnebula.co/_next/image/?url=https%3A%2F%2Fmedia.appnebula.co%2Fbackgrounds%2Fdesktop%2Fcouple_holding_hands_1.jpg&amp;w=1600&amp;q=90"
                                                      style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; object-position: center top; color: transparent;"
                                                      width="0" /></div>
                                    </div>
                                    <div class="sc-f753d17c-0 khJWTm">
                                          <div class="sc-ad2be78a-0 iIKZPe"><img alt="" class="sc-37068a57-0 DTWSl"
                                                      data-nimg="fill" decoding="async" fetchpriority="high" height="0"
                                                      src="https://appnebula.co/_next/image/?url=https%3A%2F%2Fmedia.appnebula.co%2Fbackgrounds%2Fdesktop%2Fcouple_in_bad_2.jpg&amp;w=1600&amp;q=90"
                                                      style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; object-position: center top; color: transparent;"
                                                      width="0" /></div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div><iframe height="1" style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"
            width="1"></iframe><next-route-announcer>
            <p aria-live="assertive" id="__next-route-announcer__" role="alert"
                  style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;">
                  ASTRALIZ</p>
      </next-route-announcer>
      <iframe height="0" style="display: none; visibility: hidden;" width="0"></iframe>
      <div id="onetrust-consent-sdk">
            <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
            <div aria-label="Preference center" class="otPcCenter ot-hide ot-fade-in" id="onetrust-pc-sdk" lang="en"
                  role="region">
                  <div aria-describedby="ot-pc-desc" aria-label="Privacy Preference Center" aria-modal="true"
                        role="alertdialog" style="height: 100%;">Botão Fechar
                        <div class="ot-pc-header">Tag do Logo
                              <div aria-label="Company Logo" class="ot-pc-logo" role="img"><img alt="Company Logo"
                                          src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png" />
                              </div><button aria-label="Close" class="ot-close-icon" id="close-pc-btn-handler"
                                    style='background-image: url("https://cdn.cookielaw.org/logos/static/ot_close.svg");'></button>
                        </div>Botão Fechar
                        <div class="ot-pc-scrollbar" id="ot-pc-content">
                              <div class="ot-optout-signal ot-hide">
                                    <div class="ot-optout-icon"><svg xmlns="http://www.w3.org/2000/svg">
                                                <path class="ot-floating-button__svg-fill"
                                                      d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z"
                                                      fill="#FFF" fill-rule="evenodd"></path>
                                          </svg></div><span></span>
                              </div>
                              <h2 id="ot-pc-title">Centro de Preferência de Privacidade</h2>
                              <div id="ot-pc-desc">Quando você visita qualquer site, ele pode armazenar ou recuperar
                                    informações no seu navegador, principalmente na forma de cookies. Essas informações
                                    podem ser sobre você, suas preferências ou seu dispositivo e são usadas
                                    principalmente para fazer o site funcionar como você espera. As informações
                                    geralmente não o identificam diretamente, mas podem proporcionar uma experiência na
                                    web mais personalizada. Como respeitamos seu direito à privacidade, você pode
                                    escolher não permitir alguns tipos de cookies. Clique nos diferentes cabeçalhos de
                                    categoria para saber mais e alterar nossas configurações padrão. No entanto,
                                    bloquear alguns tipos de cookies pode impactar sua experiência no site e os serviços
                                    que podemos oferecer.<br /><a
                                          aria-label="More information about your privacy, opens in a new tab"
                                          class="privacy-notice-link"
                                          href="https://cookiepedia.co.uk/giving-consent-to-cookies" rel="noopener"
                                          target="_blank">Mais informações</a>
                              </div><button id="accept-recommended-btn-handler">Permitir Todos</button>
                              <section class="ot-sdk-row ot-cat-grp">
                                    <h3 id="ot-category-title">Gerenciar Preferências de Consentimento</h3>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0003"><button aria-controls="ot-desc-id-C0003"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0003 ot-status-id-C0003"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0003">Cookies Funcionais
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0003">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0003">Esses
                                                      cookies permitem que o site ofereça funcionalidades aprimoradas e
                                                      personalização. Eles podem ser definidos por nós ou por provedores
                                                      de terceiros cujos serviços adicionamos às nossas páginas. Se você
                                                      não permitir esses cookies, alguns ou todos esses serviços podem
                                                      não funcionar corretamente.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0002"><button aria-controls="ot-desc-id-C0002"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0002 ot-status-id-C0002"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0002">Cookies de Desempenho
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0002">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0002">Esses
                                                      cookies nos permitem contar visitas e fontes de tráfego para que
                                                      possamos medir e melhorar o desempenho do nosso site. Eles nos
                                                      ajudam a saber quais páginas são as mais e as menos populares e a
                                                      ver como os visitantes navegam pelo site. Todas as informações que
                                                      esses cookies coletam são agregadas e, portanto, anônimas. Se você
                                                      não permitir esses cookies, não saberemos quando você visitou
                                                      nosso site e não poderemos monitorar seu desempenho.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0004"><button aria-controls="ot-desc-id-C0004"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0004 ot-status-id-C0004"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0004">Cookies de Segmentação
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0004">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0004">Esses
                                                      cookies podem ser configurados através do nosso site por nossos
                                                      parceiros de publicidade. Eles podem ser usados por essas empresas
                                                      para construir um perfil dos seus interesses e mostrar anúncios
                                                      relevantes em outros sites. Eles não armazenam informações
                                                      pessoais diretamente, mas são baseados na identificação única do
                                                      seu navegador e dispositivo de internet. Se você não permitir
                                                      esses cookies, você terá uma experiência com menos anúncios
                                                      direcionados.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0001"><button aria-controls="ot-desc-id-C0001"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0001 ot-status-id-C0001"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0001">Cookies Estritamente
                                                      Necessários</h4>
                                                <div class="ot-always-active" id="ot-status-id-C0001">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0001">Esses
                                                      cookies são necessários para o funcionamento do site e não podem
                                                      ser desativados em nossos sistemas. Eles geralmente são definidos
                                                      em resposta a ações feitas por você que equivalem a um pedido de
                                                      serviços, como definir suas preferências de privacidade, fazer
                                                      login ou preencher formulários. Você pode configurar seu navegador
                                                      para bloquear ou alertá-lo sobre esses cookies, mas algumas partes
                                                      do site não funcionarão. Esses cookies não armazenam nenhuma
                                                      informação pessoal identificável.</p>
                                          </div>
                                    </div>
                                    Início das seções de gruposFim da seção de gruposA seção do Grupo de Acordeão
                                    começaO grupo de seções do acordeão termina
                              </section>
                        </div>
                        <section class="ot-hide ot-hosts-ui ot-pc-scrollbar" id="ot-pc-lst">
                              <div id="ot-pc-hdr">
                                    <div id="ot-lst-title"><button aria-label="Back"
                                                class="ot-link-btn back-btn-handler"><svg id="ot-back-arw"
                                                      viewbox="0 0 444.531 444.531" x="0px" xml:space="preserve"
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                      <title>Botão Voltar</title>
                                                      <g>
                                                            <path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                    l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                    c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                    s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                    L213.13,222.409z" fill="#656565"></path>
                                                      </g>
                                                </svg></button>
                                          <h3>Lista de Cookies</h3>
                                    </div>
                                    <div class="ot-lst-subhdr">
                                          <div class="ot-search-cntr">
                                                <p class="ot-scrn-rdr" role="status"></p><input
                                                      aria-label="Cookie list search" id="vendor-search-handler"
                                                      name="vendor-search-handler" placeholder="Search…" type="text" />
                                                <svg aria-hidden="true" viewbox="0 -30 110 110" x="0px"
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                      <title>Ícone de Pesquisa</title>
                                                      <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
            s-17-7.626-17-17S14.61,6,23.984,6z" fill="#2e3644"></path>
                                                </svg>
                                          </div>
                                          <div class="ot-fltr-cntr"><button aria-haspopup="true" aria-label="Filter"
                                                      id="filter-btn-handler"><svg aria-hidden="true"
                                                            role="presentation" viewbox="0 0 402.577 402.577" x="0px"
                                                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                            <title>Ícone de Filtro</title>
                                                            <g>
                                                                  <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
      c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
      c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
      C402.765,25.895,404.093,19.231,400.858,11.427z" fill="#fff"></path>
                                                            </g>
                                                      </svg></button></div>
                                          <div id="ot-anchor"></div>
                                          <section id="ot-fltr-modal">
                                                <div id="ot-fltr-cnt"><button id="clear-filters-handler">Claro</button>
                                                      <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                                                            <div class="ot-fltr-opts">
                                                                  <div class="ot-fltr-opt">
                                                                        <div class="ot-chkbox">
                                                                              <input class="category-filter-handler"
                                                                                    id="chkbox-id" type="checkbox" />
                                                                              <label for="chkbox-id"><span
                                                                                          class="ot-label-txt">caixa de
                                                                                          seleção
                                                                                          rótulo</span></label>
                                                                              <span
                                                                                    class="ot-label-status">rótulo</span>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="ot-fltr-btns"><button
                                                                        id="filter-apply-handler">Aplicar</button>
                                                                  <button id="filter-cancel-handler">Cancelar</button>
                                                            </div>
                                                      </div>
                                                </div>
                                          </section>
                                    </div>
                              </div>
                              <section class="ot-host-cnt ot-pc-scrollbar" id="ot-lst-cnt">
                                    <div id="ot-sel-blk">
                                          <div class="ot-sel-all">
                                                <div class="ot-sel-all-hdr"><span
                                                            class="ot-consent-hdr">Consentimento</span>
                                                      <span class="ot-li-hdr">Leg.Interest</span>
                                                </div>
                                                <div class="ot-sel-all-chkbox">
                                                      <div class="ot-chkbox" id="ot-selall-hostcntr">
                                                            <input id="select-all-hosts-groups-handler"
                                                                  type="checkbox" /> <label
                                                                  for="select-all-hosts-groups-handler"><span
                                                                        class="ot-label-txt">caixa de seleção
                                                                        rótulo</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                      <div class="ot-chkbox" id="ot-selall-vencntr">
                                                            <input id="select-all-vendor-groups-handler"
                                                                  type="checkbox" /> <label
                                                                  for="select-all-vendor-groups-handler"><span
                                                                        class="ot-label-txt">caixa de seleção
                                                                        rótulo</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                      <div class="ot-chkbox" id="ot-selall-licntr">
                                                            <input id="select-all-vendor-leg-handler" type="checkbox" />
                                                            <label for="select-all-vendor-leg-handler"><span
                                                                        class="ot-label-txt">checkbox
                                                                        label</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="ot-sdk-row">
                                          <div class="ot-sdk-column"></div>
                                    </div>
                              </section>
                        </section>
                        <div class="ot-pc-footer ot-pc-scrollbar">
                              <div class="ot-btn-container"><button class="ot-pc-refuse-all-handler">Rejeitar
                                          Todos</button> <button
                                          class="save-preference-btn-handler onetrust-close-btn-handler">Confirmar
                                          Minhas Escolhas</button></div>Logo do rodapé
                              <div class="ot-pc-footer-logo"><a aria-label="Powered by OneTrust Opens in a new Tab"
                                          href="https://www.onetrust.com/products/cookie-consent/"
                                          rel="noopener noreferrer" target="_blank"><img alt="Powered by Onetrust"
                                                src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
                                                title="Powered by OneTrust Opens in a new Tab" /></a>
                              </div>
                        </div>
                        Container de subgrupo de cookiesLink da lista de fornecedoresLink perdido do cookieAlternar
                        elemento HTMLCheckbox HTMLmais menosElemento SVG de setaElemento básico do acordeão<span
                              aria-atomic="true" aria-live="polite" class="ot-scrn-rdr"></span>Modelo de contêiner e
                        item de serviço do fornecedor
                  </div><iframe aria-hidden="true" class="ot-text-resize" sandbox="allow-same-origin"
                        style="position: absolute; top: -50000px; width: 100em;" title="onetrust-text-resize"></iframe>
            </div>
      </div><img height="1"
            src="https://t.co/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261080%260%26na&amp;eci=2&amp;event_id=205dc419-c8e6-4001-9401-a3adf31ac211&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=4113aff6-7812-4c0e-a641-74f4a7d73838&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
            style="display: none;" width="1" /><iframe allow="join-ad-interest-group" data-load-time="1734024005361"
            data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-03B976D4AA066D3C4B4B18771189A53C@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
            data-load-time="1734024005374" data-tagging-id="AW-10813984679/6WgrCJ6i3vEYEKefwaQo" height="0"
            src="cid:frame-15F6622DD9F9B2FBA648FC543DD9BEE9@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1734024005387"
            data-tagging-id="AW-581615388/ycbGCIm5nMgCEJz-qpUC" height="0"
            src="cid:frame-4A25702E77F6C9FF986A5119483ECBDE@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1734024005389"
            data-tagging-id="AW-581615388/fjD7CMuZnu0ZEJz-qpUC" height="0"
            src="cid:frame-E7760AAEEAA5718DB2FC89B373CBC553@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><img height="1"
            src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261080%260%26na&amp;eci=2&amp;event_id=205dc419-c8e6-4001-9401-a3adf31ac211&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=4113aff6-7812-4c0e-a641-74f4a7d73838&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
            style="display: none;" width="1" /><iframe allow="join-ad-interest-group" data-load-time="1734024005707"
            data-tagging-id="G-0CNEN2SNEX" height="0" src="cid:frame-EB6B089B3E0C49C5A2ECF173EA95878E@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="microphone *"
            aria-hidden="true" data-product="web_widget" role="presentation"
            src="cid:frame-2E7DE73F32D3F612813D81697E2AC1A4@mhtml.blink"
            style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;" tabindex="-1"
            title="No content"></iframe>
      <div style="visibility: visible;">
            <div></div>
            <div></div>
      </div><iframe id="snap862601" src="cid:frame-FC06AD1217D4131F8E3E318488268E3E@mhtml.blink"
            style="display: none !important; height: 1px !important; overflow: hidden !important; position: absolute !important; width: 1px !important;"></iframe><iframe
            allow="join-ad-interest-group" data-load-time="1734024216350" data-tagging-id="G-L0LHQSRDB5" height="0"
            src="cid:frame-4789DF30B7D98E45EDB0625E345D0CF7@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1734024288994"
            data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-6904A5CFC8D840ACAF6F0BC3B020469B@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
            data-load-time="1734024515607" data-tagging-id="G-L0LHQSRDB5" height="0"
            src="cid:frame-2BF5E376CCDEA127337EB4793A632D72@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowmode="open">
            <div aria-label="grammarly-integration" class="grammarly-desktop-integration"
                  data-content='{"mode":"full","isActive":true,"isUserDisabled":false}' role="group" tabindex="-1">
            </div>
      </template></grammarly-desktop-integration>

</html>