<!DOCTYPE html>

<html lang="en" style="">

<head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <link href="cid:css-f38de1c1-7fba-439b-b85c-75c656bd3065@mhtml.blink" rel="stylesheet" type="text/css" />
        <link href="cid:css-0e532ca4-99a9-47cd-838e-6278222a5188@mhtml.blink" rel="stylesheet" type="text/css" />
        <link href="cid:css-6da2a9b0-f8cb-4a5e-b2bc-c8d9c8119a18@mhtml.blink" rel="stylesheet" type="text/css" />
        <!--mui-inject-first-->
        <meta content="width=device-width" name="viewport" />
        <title>ASTRALIZ</title>
        <meta content="ASTRALIZ" property="og:title" />
        <meta content="ea688f7d-9420-4940-b046-f90ff48348a7" name="trustpilot-one-time-domain-verification-id" />
        <meta content="ld6fauq8wysgqi8nxb014927mbq37x" name="facebook-domain-verification" />
        <link as="image" href="https://appnebula.co/_next/static/media/sprite.de50d001cd51cb97.svg" rel="preload"
                type="image/svg+xml" />
        <meta content="7" name="next-head-count" />
        <link href="https://appnebula.co/favicon.png" rel="icon" />
        <link href="https://appnebula.co/logo.png" rel="apple-touch-icon" />
        <link href="https://fonts.googleapis.com/" rel="preconnect" />
        <link href="https://fonts.gstatic.com/" rel="preconnect" />
        <link as="style" crossorigin="" href="https://appnebula.co/_next/static/css/23640eedd496150a.css"
                rel="preload" />
        <link crossorigin="" data-n-g="" href="https://appnebula.co/_next/static/css/23640eedd496150a.css"
                rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;display=swap"
                rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap"
                rel="stylesheet" />
        <link href="https://pay.google.com/gp/p/js/pay.js" id="google-pay-prefetch-id" rel="prefetch" />
        <meta content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"
                http-equiv="origin-trial" />
        <link href="quiz12_part2.css" rel="stylesheet" />
        <link href="quiz12_part3.css" rel="stylesheet" />
        <link href="quiz12_part19.css" rel="stylesheet" />
        <link href="quiz12_part20.css" rel="stylesheet" />
        <link href="quiz12_part21.css" rel="stylesheet" />
        <link href="quiz12_part22.css" rel="stylesheet" />
        <link href="quiz12_part23.css" rel="stylesheet" type="text/css">
        <link href="quiz12_part22.css" rel="stylesheet" type="text/css">
        <link href="quiz12_part25.css" rel="stylesheet" type="text/css">
        <link href="quiz12_part2.css" rel="stylesheet" type="text/css">
        <link href="quiz12_part3.css" rel="stylesheet" type="text/css">
        <link href="quiz12_part24.css" rel="stylesheet" type="text/css">
        <style>
                @keyframes progressAnimation {
                        0% {
                                stroke-dasharray: 0 100;
                        }

                        100% {
                                stroke-dasharray: 100 0;
                                /* Adjust this value based on the percentage */
                        }
                }

                .sc-fbd698fa-3.huvGCZ {
                        animation: progressAnimation 7s linear forwards;
                }
        </style>
        </link>
        </link>
        </link>
        </link>
        </link>
        </link>
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1207.0">
        <div id="__next">
                <div class="sc-e7f8dab0-0 fbEKfK">
                        <div class="sc-e7f8dab0-1 iyEYIv">
                                <div class="sc-e7f8dab0-2 kJzitJ">
                                        <div class="sc-e7f8dab0-3 bySgDj">
                                                <div class="sc-ad2be78a-0 iNDIiZ"></div>
                                                <div class="sc-18c51f36-0 fHGGon"><svg aria-hidden="true"
                                                                class="sc-72d3801b-0 iIYHnr sc-18c51f36-1 lfkrpa"
                                                                height="18" width="16px">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#ASTRALIZ-small">
                                                                </use>
                                                        </svg><svg aria-hidden="true"
                                                                class="sc-72d3801b-0 iIYHnr sc-ad655fb9-0 iUnoPQ"
                                                                height="24" width="24">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#burger">
                                                                </use>
                                                        </svg></div>
                                                <h2 class="sc-afb6f474-0 hzinRj sc-5c9aee8f-0 eMhRqU">Ajudamos 649.347
                                                        <%=gender%> com um signo solar de <strong>
                                                                        <%=sign%>
                                                                </strong> a <%=goal%>, e não podemos esperar para fazer
                                                                        o mesmo por você!</h2>
                                                <h2 class="sc-5c9aee8f-2 jzCSgM">*dados coletados em 17 de fevereiro de
                                                        2025</h2>
                                                <div class="sc-c491f8d9-0 bTWUSO sc-5c9aee8f-4 lgqMV"><svg
                                                                class="sc-fbd698fa-0 hWizUQ" viewbox="0 0 38 38">
                                                                <circle class="sc-fbd698fa-1 gAAzvh" cx="50%" cy="50%"
                                                                        r="15.91549430918954"></circle>
                                                                <circle class="sc-fbd698fa-2 cmCmLq" cx="50%" cy="50%"
                                                                        fill="transparent" r="15.91549430918954"
                                                                        stroke-width="2"></circle>
                                                                <circle class="sc-fbd698fa-3 huvGCZ" cx="50%" cy="50%"
                                                                        fill="transparent" opacity="1"
                                                                        r="15.91549430918954"
                                                                        stroke-dasharray="24.59999999999961 75.40000000000039"
                                                                        stroke-width="2"></circle>
                                                                <defs>
                                                                        <lineargradient gradientunits="userSpaceOnUse"
                                                                                id="paint0_linear" x1="45" x2="53.1842"
                                                                                y1="40" y2="-9.5">
                                                                                <stop stop-color="#6A3AA2"></stop>
                                                                                <stop offset="1" stop-color="white">
                                                                                </stop>
                                                                        </lineargradient>
                                                                </defs>
                                                        </svg>
                                                        <div class="sc-c491f8d9-1 krkjKd">
                                                                <p class="sc-c491f8d9-2 fSvSrA">75%</p>
                                                        </div>
                                                </div>
                                                <ul class="sc-5390d043-0 iKWhHO">
                                                        <li class="sc-5390d043-1 krWRZU loading-dots"><span
                                                                        class="sc-5390d043-2 hIvPYe">Conectando ao
                                                                        banco de dados...</span></li>
                                                </ul><span aria-label="😕"
                                                        class="sc-e5cbfa94-0 dzcDAl sc-561ee9c5-0 eISuFp" height="40"
                                                        width="40"></span><span aria-label="😐"
                                                        class="sc-e5cbfa94-0 dOqHsS sc-561ee9c5-0 eISuFp" height="40"
                                                        width="40"></span><span aria-label="🙂"
                                                        class="sc-e5cbfa94-0 ilouuX sc-561ee9c5-0 eISuFp" height="40"
                                                        width="40"></span><span aria-label="😉"
                                                        class="sc-e5cbfa94-0 eCeEhC sc-561ee9c5-0 eISuFp" height="40"
                                                        width="40"></span>
                                        </div>
                                </div>
                        </div>
                </div>
        </div><next-route-announcer>
                <p aria-live="assertive" id="__next-route-announcer__" role="alert"
                        style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;">
                        ASTRALIZ</p>
        </next-route-announcer>
        <iframe allow="join-ad-interest-group" data-load-time="1732130663306"
                data-tagging-id="AW-581615388/ycbGCIm5nMgCEJz-qpUC" height="0"
                src="cid:frame-D4C0CD153399F2AADEE07193F064CE78@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe height="0" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1732130663366"
                data-tagging-id="AW-10813984679/6WgrCJ6i3vEYEKefwaQo" height="0"
                src="cid:frame-87121B994A6DCBD42978B2E72855467A@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="microphone *" aria-hidden="true" data-product="web_widget"
                role="presentation" src="cid:frame-FD3ED6F85CCF58F50F18FDDB0DE81886@mhtml.blink"
                style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;" tabindex="-1"
                title="No content"></iframe><iframe id="snap4148129"
                src="cid:frame-C27BC82F9A5C740F93DA24DF399CB6EF@mhtml.blink"
                style="display: none !important; height: 1px !important; overflow: hidden !important; position: absolute !important; width: 1px !important;"></iframe><img
                height="1"
                src="https://t.co/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                style="display: none;" width="1" /><img height="1"
                src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                style="display: none;" width="1" />
        <div style="visibility: visible;">
                <div></div>
                <div></div>
        </div><iframe allow="join-ad-interest-group" data-load-time="1732130663646" data-tagging-id="G-0CNEN2SNEX"
                height="0" src="cid:frame-78BFA448E417428FAD47A5C32840631F@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe>
        <div id="onetrust-consent-sdk">
                <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
                <div aria-label="Preference center" class="otPcCenter ot-hide ot-fade-in" id="onetrust-pc-sdk" lang="en"
                        role="region">
                        <div aria-describedby="ot-pc-desc" aria-label="Privacy Preference Center" aria-modal="true"
                                role="alertdialog" style="height: 100%;">Botão Fechar
                                <div class="ot-pc-header">Tag do Logo
                                        <div aria-label="Company Logo" class="ot-pc-logo" role="img"><img
                                                        alt="Company Logo"
                                                        src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png" />
                                        </div><button aria-label="Close" class="ot-close-icon" id="close-pc-btn-handler"
                                                style='background-image: url("https://cdn.cookielaw.org/logos/static/ot_close.svg");'></button>
                                </div>Botão Fechar
                                <div class="ot-pc-scrollbar" id="ot-pc-content">
                                        <div class="ot-optout-signal ot-hide">
                                                <div class="ot-optout-icon"><svg xmlns="http://www.w3.org/2000/svg">
                                                                <path class="ot-floating-button__svg-fill"
                                                                        d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z"
                                                                        fill="#FFF" fill-rule="evenodd"></path>
                                                        </svg></div><span></span>
                                        </div>
                                        <h2 id="ot-pc-title">Centro de Preferência de Privacidade</h2>
                                        <div id="ot-pc-desc">Quando você visita qualquer site, ele pode armazenar ou
                                                recuperar informações no seu navegador, principalmente na forma de
                                                cookies. Essas informações podem ser sobre você, suas preferências ou
                                                seu dispositivo e são usadas principalmente para fazer o site funcionar
                                                como você espera. As informações geralmente não o identificam
                                                diretamente, mas podem proporcionar uma experiência na web mais
                                                personalizada. Como respeitamos seu direito à privacidade, você pode
                                                escolher não permitir alguns tipos de cookies. Clique nos diferentes
                                                cabeçalhos de categoria para saber mais e alterar nossas configurações
                                                padrão. No entanto, bloquear alguns tipos de cookies pode impactar sua
                                                experiência no site e os serviços que podemos oferecer.<br /><a
                                                        aria-label="More information about your privacy, opens in a new tab"
                                                        class="privacy-notice-link"
                                                        href="https://cookiepedia.co.uk/giving-consent-to-cookies"
                                                        rel="noopener" target="_blank">Mais informações</a>
                                        </div><button id="accept-recommended-btn-handler">Permitir Todos</button>
                                        <section class="ot-sdk-row ot-cat-grp">
                                                <h3 id="ot-category-title">Gerenciar Preferências de Consentimento</h3>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0003"><button
                                                                aria-controls="ot-desc-id-C0003" aria-expanded="false"
                                                                aria-labelledby="ot-header-id-C0003 ot-status-id-C0003"
                                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0003">
                                                                        Cookies Funcionais</h4>
                                                                <div class="ot-always-active" id="ot-status-id-C0003">
                                                                        Sempre Ativo</div>
                                                        </div>detalhe do acordeão
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0003">Esses cookies permitem que
                                                                        o site ofereça funcionalidades aprimoradas e
                                                                        personalização. Eles podem ser definidos por nós
                                                                        ou por provedores de terceiros cujos serviços
                                                                        adicionamos às nossas páginas. Se você não
                                                                        permitir esses cookies, alguns ou todos esses
                                                                        serviços podem não funcionar corretamente.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0002"><button
                                                                aria-controls="ot-desc-id-C0002" aria-expanded="false"
                                                                aria-labelledby="ot-header-id-C0002 ot-status-id-C0002"
                                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0002">
                                                                        Cookies de Desempenho</h4>
                                                                <div class="ot-always-active" id="ot-status-id-C0002">
                                                                        Sempre Ativo</div>
                                                        </div>detalhe do acordeão
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0002">Esses cookies nos permitem
                                                                        contar visitas e fontes de tráfego para que
                                                                        possamos medir e melhorar o desempenho do nosso
                                                                        site. Eles nos ajudam a saber quais páginas são
                                                                        as mais e as menos populares e a ver como os
                                                                        visitantes navegam pelo site. Todas as
                                                                        informações que esses cookies coletam são
                                                                        agregadas e, portanto, anônimas. Se você não
                                                                        permitir esses cookies, não saberemos quando
                                                                        você visitou nosso site e não poderemos
                                                                        monitorar seu desempenho.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0004"><button
                                                                aria-controls="ot-desc-id-C0004" aria-expanded="false"
                                                                aria-labelledby="ot-header-id-C0004 ot-status-id-C0004"
                                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0004">
                                                                        Cookies de Segmentação</h4>
                                                                <div class="ot-always-active" id="ot-status-id-C0004">
                                                                        Sempre Ativo</div>
                                                        </div>detalhe do acordeão
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0004">Esses cookies podem ser
                                                                        configurados através do nosso site por nossos
                                                                        parceiros de publicidade. Eles podem ser usados
                                                                        por essas empresas para construir um perfil dos
                                                                        seus interesses e mostrar anúncios relevantes em
                                                                        outros sites. Eles não armazenam diretamente
                                                                        informações pessoais, mas são baseados na
                                                                        identificação exclusiva do seu navegador e
                                                                        dispositivo de internet. Se você não permitir
                                                                        esses cookies, você terá uma experiência com
                                                                        menos anúncios direcionados.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0001"><button
                                                                aria-controls="ot-desc-id-C0001" aria-expanded="false"
                                                                aria-labelledby="ot-header-id-C0001 ot-status-id-C0001"
                                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0001">
                                                                        Cookies Estritamente Necessários</h4>
                                                                <div class="ot-always-active" id="ot-status-id-C0001">
                                                                        Sempre Ativo</div>
                                                        </div>detalhe do acordeão
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0001">Esses cookies são
                                                                        necessários para o funcionamento do site e não
                                                                        podem ser desativados em nossos sistemas. Eles
                                                                        geralmente são definidos em resposta a ações
                                                                        feitas por você que equivalem a um pedido de
                                                                        serviços, como definir suas preferências de
                                                                        privacidade, fazer login ou preencher
                                                                        formulários. Você pode configurar seu navegador
                                                                        para bloquear ou alertá-lo sobre esses cookies,
                                                                        mas algumas partes do site não funcionarão.
                                                                        Esses cookies não armazenam nenhuma informação
                                                                        pessoal identificável.</p>
                                                        </div>
                                                </div>
                                                Início das seções de gruposO fim da seção de gruposA seção do Grupo de
                                                Acordeão começaO grupo de seções do acordeão termina
                                        </section>
                                </div>
                                <section class="ot-hide ot-hosts-ui ot-pc-scrollbar" id="ot-pc-lst">
                                        <div id="ot-pc-hdr">
                                                <div id="ot-lst-title"><button aria-label="Back"
                                                                class="ot-link-btn back-btn-handler"><svg
                                                                        id="ot-back-arw" viewbox="0 0 444.531 444.531"
                                                                        x="0px" xml:space="preserve"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        y="0px">
                                                                        <title>Botão Voltar</title>
                                                                        <g>
                                                                                <path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                    l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                    c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                    s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                    L213.13,222.409z" fill="#656565"></path>
                                                                        </g>
                                                                </svg></button>
                                                        <h3>Lista de Cookies</h3>
                                                </div>
                                                <div class="ot-lst-subhdr">
                                                        <div class="ot-search-cntr">
                                                                <p class="ot-scrn-rdr" role="status"></p><input
                                                                        aria-label="Cookie list search"
                                                                        id="vendor-search-handler"
                                                                        name="vendor-search-handler"
                                                                        placeholder="Search…" type="text" /> <svg
                                                                        aria-hidden="true" viewbox="0 -30 110 110"
                                                                        x="0px" xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        y="0px">
                                                                        <title>Ícone de Pesquisa</title>
                                                                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
            s-17-7.626-17-17S14.61,6,23.984,6z" fill="#2e3644"></path>
                                                                </svg>
                                                        </div>
                                                        <div class="ot-fltr-cntr"><button aria-haspopup="true"
                                                                        aria-label="Filter" id="filter-btn-handler"><svg
                                                                                aria-hidden="true" role="presentation"
                                                                                viewbox="0 0 402.577 402.577" x="0px"
                                                                                xml:space="preserve"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                y="0px">
                                                                                <title>Ícone de Filtro</title>
                                                                                <g>
                                                                                        <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
      c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
      c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
      C402.765,25.895,404.093,19.231,400.858,11.427z" fill="#fff"></path>
                                                                                </g>
                                                                        </svg></button></div>
                                                        <div id="ot-anchor"></div>
                                                        <section id="ot-fltr-modal">
                                                                <div id="ot-fltr-cnt"><button
                                                                                id="clear-filters-handler">Claro</button>
                                                                        <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                                                                                <div class="ot-fltr-opts">
                                                                                        <div class="ot-fltr-opt">
                                                                                                <div class="ot-chkbox">
                                                                                                        <input class="category-filter-handler"
                                                                                                                id="chkbox-id"
                                                                                                                type="checkbox" />
                                                                                                        <label
                                                                                                                for="chkbox-id"><span
                                                                                                                        class="ot-label-txt">caixa
                                                                                                                        de
                                                                                                                        seleção
                                                                                                                        rótulo</span></label>
                                                                                                        <span
                                                                                                                class="ot-label-status">rótulo</span>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="ot-fltr-btns"><button
                                                                                                id="filter-apply-handler">Aplicar</button>
                                                                                        <button
                                                                                                id="filter-cancel-handler">Cancelar</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </section>
                                                </div>
                                        </div>
                                        <section class="ot-host-cnt ot-pc-scrollbar" id="ot-lst-cnt">
                                                <div id="ot-sel-blk">
                                                        <div class="ot-sel-all">
                                                                <div class="ot-sel-all-hdr"><span
                                                                                class="ot-consent-hdr">Consentimento</span>
                                                                        <span class="ot-li-hdr">Leg.Interest</span>
                                                                </div>
                                                                <div class="ot-sel-all-chkbox">
                                                                        <div class="ot-chkbox" id="ot-selall-hostcntr">
                                                                                <input id="select-all-hosts-groups-handler"
                                                                                        type="checkbox" /> <label
                                                                                        for="select-all-hosts-groups-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">rótulo</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-vencntr">
                                                                                <input id="select-all-vendor-groups-handler"
                                                                                        type="checkbox" /> <label
                                                                                        for="select-all-vendor-groups-handler"><span
                                                                                                class="ot-label-txt">caixa
                                                                                                de seleção
                                                                                                rótulo</span></label>
                                                                                <span
                                                                                        class="ot-label-status">rótulo</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-licntr">
                                                                                <input id="select-all-vendor-leg-handler"
                                                                                        type="checkbox" /> <label
                                                                                        for="select-all-vendor-leg-handler"><span
                                                                                                class="ot-label-txt">caixa
                                                                                                de seleção
                                                                                                rótulo</span></label>
                                                                                <span
                                                                                        class="ot-label-status">rótulo</span>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="ot-sdk-row">
                                                        <div class="ot-sdk-column"></div>
                                                </div>
                                        </section>
                                </section>
                                <div class="ot-pc-footer ot-pc-scrollbar">
                                        <div class="ot-btn-container"><button class="ot-pc-refuse-all-handler">Rejeitar
                                                        Todos</button> <button
                                                        class="save-preference-btn-handler onetrust-close-btn-handler">Confirmar
                                                        Minhas Escolhas</button></div>Logo do rodapé
                                        <div class="ot-pc-footer-logo"><a
                                                        aria-label="Powered by OneTrust Opens in a new Tab"
                                                        href="https://www.onetrust.com/products/cookie-consent/"
                                                        rel="noopener noreferrer" target="_blank"><img
                                                                alt="Powered by Onetrust"
                                                                src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
                                                                title="Powered by OneTrust Opens in a new Tab" /></a>
                                        </div>
                                </div>
                                Container de subgrupo de cookiesLink da lista de fornecedoresLink perdido do
                                cookieAlternar elemento HTMLCheckbox HTMLmais menosElemento SVG de setaElemento básico
                                do acordeão<span aria-atomic="true" aria-live="polite" class="ot-scrn-rdr"></span>Modelo
                                de contêiner e item de serviço do fornecedor
                        </div><iframe aria-hidden="true" class="ot-text-resize" sandbox="allow-same-origin"
                                style="position: absolute; top: -50000px; width: 100em;"
                                title="onetrust-text-resize"></iframe>
                </div>
        </div><iframe allow="join-ad-interest-group" data-load-time="1732131022659" data-tagging-id="G-L0LHQSRDB5"
                height="0" src="cid:frame-2E83BCD069FBAFC19AA891E6242E62B9@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
                data-load-time="1732131111664" data-tagging-id="G-L0LHQSRDB5" height="0"
                src="cid:frame-7E5B842718E0975AC3B0235B3A9E2840@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1732131226383"
                data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-D8A6A40DF09A48208473F37D1E54F266@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
                data-load-time="1732131309547" data-tagging-id="G-L0LHQSRDB5" height="0"
                src="cid:frame-A7EB0EF41A573CCDB79A27623F253005@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1732131505507"
                data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-BB3060FCB7B0DC4E2008236621CCBE0C@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
                data-load-time="1732131567173" data-tagging-id="G-L0LHQSRDB5" height="0"
                src="cid:frame-2368D894EF30974D02E3A4878ED75F88@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1732131638247"
                data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-32A523CD9011A9D61C539D78BE6C94F7@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
                data-load-time="1732131702763" data-tagging-id="G-L0LHQSRDB5" height="0"
                src="cid:frame-6054287C9EB3EFF352FA0FC52963D024@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1732131762920"
                data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-F4CE31253DDD66C1E18644B6609651DE@mhtml.blink"
                style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
                data-load-time="1732131847718" data-tagging-id="G-L0LHQSRDB5" height="0"
                src="cid:frame-3E7EC935B362C91DB9125AF141ED017E@mhtml.blink" style="display: none; visibility: hidden;"
                width="0"></iframe>
        <script>// Redirecionar para /quiz13 após 7 segundos
                setTimeout(function () {
                        window.location.href = '/quiz13';
                }, 7000);
                document.addEventListener('DOMContentLoaded', function () {
                        const loadingText = document.querySelector('.loading-dots');
                        const messages = [
                                'Conectando ao banco de dados',
                                'Conectando ao banco de dados.',
                                'Conectando ao banco de dados..',
                                'Conectando ao banco de dados...'
                        ];
                        let index = 0;

                        setInterval(() => {
                                loadingText.textContent = messages[index];
                                index = (index + 1) % messages.length;
                        }, 500); // Altere o intervalo conforme necessário
                });
                document.addEventListener('DOMContentLoaded', function () {
                        const percentageElement = document.querySelector('.sc-c491f8d9-2.fSvSrA');
                        const targetPercentage = 100;
                        const duration = 7000; // 2 segundos
                        const interval = 10; // Intervalo de atualização em milissegundos
                        const increment = targetPercentage / (duration / interval);
                        let currentPercentage = 0;

                        const updatePercentage = () => {
                                currentPercentage += increment;
                                if (currentPercentage >= targetPercentage) {
                                        currentPercentage = targetPercentage;
                                        clearInterval(intervalId);
                                }
                                percentageElement.textContent = `${Math.round(currentPercentage)}%`;
                        };

                        const intervalId = setInterval(updatePercentage, interval);
                });</script>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowmode="open">
                <div aria-label="grammarly-integration" class="grammarly-desktop-integration"
                        data-content='{"mode":"full","isActive":true,"isUserDisabled":false}' role="group"
                        tabindex="-1">
                </div>
        </template></grammarly-desktop-integration>

</html>