<!DOCTYPE html>

<html lang="en" style="">

<head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <link href="cid:css-5dcd7964-6fc8-4816-a405-c136431ca7a9@mhtml.blink" rel="stylesheet" type="text/css" />
      <link href="cid:css-8d27483b-dc1e-4581-a747-6995a22d9c98@mhtml.blink" rel="stylesheet" type="text/css" />
      <link href="cid:css-be44d909-dd40-42da-822b-0434b612b167@mhtml.blink" rel="stylesheet" type="text/css" />
      <!--mui-inject-first-->
      <meta content="width=device-width" name="viewport" />
      <title>ASTRALIZ</title>
      <meta content="ASTRALIZ" property="og:title" />
      <meta content="ea688f7d-9420-4940-b046-f90ff48348a7" name="trustpilot-one-time-domain-verification-id" />
      <meta content="ld6fauq8wysgqi8nxb014927mbq37x" name="facebook-domain-verification" />
      <link as="image" href="https://appnebula.co/_next/static/media/sprite.b0124aad193e324d.svg" rel="preload"
            type="image/svg+xml" />
      <meta content="7" name="next-head-count" />
      <link href="https://appnebula.co/favicon.png" rel="icon" />
      <link href="https://appnebula.co/logo.png" rel="apple-touch-icon" />
      <link href="https://fonts.googleapis.com/" rel="preconnect" />
      <link href="https://fonts.gstatic.com/" rel="preconnect" />
      <link as="style" crossorigin="" href="https://appnebula.co/_next/static/css/23640eedd496150a.css" rel="preload" />
      <link crossorigin="" data-n-g="" href="https://appnebula.co/_next/static/css/23640eedd496150a.css"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;display=swap"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="https://pay.google.com/gp/p/js/pay.js" id="google-pay-prefetch-id" rel="prefetch" />
      <meta content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"
            http-equiv="origin-trial" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/4122-526a715c1f0bb589.js" rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/privacy-policy-bc12abec0c59072b.js"
            rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/terms-1777da02234db68f.js"
            rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/payment-terms-e298552a90a0e0a3.js"
            rel="prefetch" />
      <link as="script"
            href="https://appnebula.co/_next/static/chunks/pages/tech/subscription-terms-b05b8c5563c0e659.js"
            rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/money-back-policy-e78492ba933754f0.js"
            rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/faq-c3196ea9a5529476.js"
            rel="prefetch" />
      <link as="script" href="https://appnebula.co/_next/static/chunks/pages/tech/contact-us-5d1fbc2c16a99062.js"
            rel="prefetch" />
      <link href="quiz3_part2.css" rel="stylesheet" />
      <link href="quiz3_part3.css" rel="stylesheet" />
      <link href="quiz3_part17.css" rel="stylesheet" />
      <link href="quiz3_part18.css" rel="stylesheet" />
      <link href="quiz3_part19.css" rel="stylesheet" />
      <link href="quiz3_part20.css" rel="stylesheet" />
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1207.0" style="">
      <div id="__next">
            <div class="sc-e7f8dab0-0 fbEKfK">
                  <div class="sc-e7f8dab0-1 iyEYIv">
                        <div class="sc-e7f8dab0-2 kJzitJ">
                              <div class="sc-e7f8dab0-3 bySgDj">
                                    <div class="sc-2c55972b-0 htfIcF"><svg aria-hidden="true"
                                                class="sc-72d3801b-0 iIYHnr sc-2c55972b-1 hTATtY" height="18"
                                                width="16px">
                                                <use
                                                      xlink:href="/_next/static/media/sprite.b0124aad193e324d.svg#ASTRALIZ-small">
                                                </use>
                                          </svg><svg class="sc-7e8ee384-0 kLnOgn" fill="none" height="24"
                                                variant="secondary" viewbox="0 0 24 24" width="24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.5 12L15 4.5L16.05 5.55L9.6 12L16.05 18.45L15 19.5L7.5 12Z"
                                                      fill="currentColor"></path>
                                          </svg><svg class="sc-196daee3-0 dwgCmi" fill="none" height="24"
                                                variant="secondary" viewbox="0 0 24 24" width="24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                      d="M2.39961 4.80005C2.18744 4.80005 1.98395 4.88433 1.83392 5.03436C1.68389 5.18439 1.59961 5.38788 1.59961 5.60005C1.59961 5.81222 1.68389 6.0157 1.83392 6.16573C1.98395 6.31576 2.18744 6.40005 2.39961 6.40005H21.5996C21.8118 6.40005 22.0153 6.31576 22.1653 6.16573C22.3153 6.0157 22.3996 5.81222 22.3996 5.60005C22.3996 5.38788 22.3153 5.18439 22.1653 5.03436C22.0153 4.88433 21.8118 4.80005 21.5996 4.80005H2.39961ZM1.59961 12C1.59961 11.7879 1.68389 11.5844 1.83392 11.4344C1.98395 11.2843 2.18744 11.2 2.39961 11.2H21.5996C21.8118 11.2 22.0153 11.2843 22.1653 11.4344C22.3153 11.5844 22.3996 11.7879 22.3996 12C22.3996 12.2122 22.3153 12.4157 22.1653 12.5657C22.0153 12.7158 21.8118 12.8 21.5996 12.8H2.39961C2.18744 12.8 1.98395 12.7158 1.83392 12.5657C1.68389 12.4157 1.59961 12.2122 1.59961 12ZM1.59961 18.4C1.59961 18.1879 1.68389 17.9844 1.83392 17.8344C1.98395 17.6843 2.18744 17.6 2.39961 17.6H21.5996C21.8118 17.6 22.0153 17.6843 22.1653 17.8344C22.3153 17.9844 22.3996 18.1879 22.3996 18.4C22.3996 18.6122 22.3153 18.8157 22.1653 18.9657C22.0153 19.1158 21.8118 19.2 21.5996 19.2H2.39961C2.18744 19.2 1.98395 19.1158 1.83392 18.9657C1.68389 18.8157 1.59961 18.6122 1.59961 18.4Z"
                                                      fill="currentColor" fill-rule="evenodd"></path>
                                          </svg></div>
                                    <div class="sc-1abdf319-0 iCYUFA"></div>
                                    <div class="sc-ea7b0d94-0 esaxMw">
                                          <div class="sc-44ec20a-0 hHjEeM sc-ea7b0d94-9 dIxvXh">
                                                <div aria-label="animation" role="button"
                                                      style="width: 206px; height: 168px; overflow: hidden; margin: 0px auto; outline: none;"
                                                      tabindex="0" title="">
                                                      <svg height="197" preserveaspectratio="xMidYMid slice"
                                                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;"
                                                            viewbox="0 0 266 197" width="266"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <defs>
                                                                  <clippath id="__lottie_element_2">
                                                                        <rect height="197" width="266" x="0" y="0">
                                                                        </rect>
                                                                  </clippath>
                                                                  <lineargradient gradientunits="userSpaceOnUse"
                                                                        id="__lottie_element_6" spreadmethod="pad"
                                                                        x1="0" x2="100" y1="0" y2="0">
                                                                        <stop offset="0%" stop-color="rgb(255,255,255)">
                                                                        </stop>
                                                                        <stop offset="50%"
                                                                              stop-color="rgb(206,214,237)">
                                                                        </stop>
                                                                        <stop offset="100%"
                                                                              stop-color="rgb(157,173,219)">
                                                                        </stop>
                                                                  </lineargradient>
                                                                  <lineargradient gradientunits="userSpaceOnUse"
                                                                        id="__lottie_element_10" spreadmethod="pad"
                                                                        x1="0" x2="100" y1="0" y2="0">
                                                                        <stop offset="0%" stop-color="rgb(255,255,255)">
                                                                        </stop>
                                                                        <stop offset="50%"
                                                                              stop-color="rgb(206,214,237)">
                                                                        </stop>
                                                                        <stop offset="100%"
                                                                              stop-color="rgb(157,173,219)">
                                                                        </stop>
                                                                  </lineargradient>
                                                            </defs>
                                                            <g clip-path="url(#__lottie_element_2)">
                                                                  <g opacity="1" style="display: block;"
                                                                        transform="matrix(1.8899999856948853,0,0,1.8899999856948853,177.87490844726562,133.66526794433594)">
                                                                        <g opacity="1"
                                                                              transform="matrix(1,0,0,1,8.59000015258789,8.256999969482422)">
                                                                              <path d=" M0.21400000154972076,-8.006999969482422 C0.21400000154972076,-8.006999969482422 -0.26100000739097595,-8.006999969482422 -0.26100000739097595,-8.006999969482422 C-0.5460000038146973,-8.006999969482422 -0.7820000052452087,-7.802000045776367 -0.7820000052452087,-7.5279998779296875 C-1.0190000534057617,-4.316999912261963 -4.526000022888184,-1.0360000133514404 -7.867000102996826,-0.7400000095367432 C-8.126999855041504,-0.7179999947547913 -8.34000015258789,-0.49000000953674316 -8.34000015258789,-0.23899999260902405 C-8.34000015258789,-0.23899999260902405 -8.34000015258789,0.23800000548362732 -8.34000015258789,0.23800000548362732 C-8.34000015258789,0.5130000114440918 -8.12600040435791,0.7170000076293945 -7.8420000076293945,0.7400000095367432 C-4.525000095367432,0.9679999947547913 -1.1380000114440918,4.269999980926514 -0.7820000052452087,7.48199987411499 C-0.7590000033378601,7.7789998054504395 -0.49799999594688416,8.006999969482422 -0.16599999368190765,8.006999969482422 C-0.16599999368190765,8.006999969482422 0.16599999368190765,8.006999969482422 0.16599999368190765,8.006999969482422 C0.4970000088214874,8.006999969482422 0.7580000162124634,7.7789998054504395 0.781000018119812,7.460000038146973 C1.065999984741211,3.8610000610351562 4.074999809265137,0.8989999890327454 7.817999839782715,0.7170000076293945 C8.12600040435791,0.6949999928474426 8.34000015258789,0.46700000762939453 8.34000015258789,0.17100000381469727 C8.34000015258789,0.17100000381469727 8.34000015258789,-0.23899999260902405 8.34000015258789,-0.23899999260902405 C8.34000015258789,-0.5350000262260437 8.102999687194824,-0.7639999985694885 7.817999839782715,-0.7860000133514404 C4.051000118255615,-0.968999981880188 1.0190000534057617,-3.9519999027252197 0.781000018119812,-7.5970001220703125 C0.734000027179718,-7.802000045776367 0.49799999594688416,-8.006999969482422 0.21400000154972076,-8.006999969482422z"
                                                                                    fill="rgb(155,172,213)"
                                                                                    fill-opacity="1">
                                                                              </path>
                                                                        </g>
                                                                  </g>
                                                                  <g opacity="1" style="display: block;"
                                                                        transform="matrix(0.5600000023841858,0,0,0.5600000023841858,76.72735595703125,42.38835906982422)">
                                                                        <g opacity="1"
                                                                              transform="matrix(1,0,0,1,16.518999099731445,16.518999099731445)">
                                                                              <path d=" M14.789999961853027,-1.4789999723434448 C7.425000190734863,-1.4789999723434448 1.4789999723434448,-7.423999786376953 1.4789999723434448,-14.789999961853027 C1.4789999723434448,-15.618000030517578 0.828000009059906,-16.268999099731445 0,-16.268999099731445 C-0.828000009059906,-16.268999099731445 -1.4789999723434448,-15.618000030517578 -1.4789999723434448,-14.789999961853027 C-1.4789999723434448,-7.423999786376953 -7.425000190734863,-1.4789999723434448 -14.789999961853027,-1.4789999723434448 C-15.618000030517578,-1.4789999723434448 -16.268999099731445,-0.828000009059906 -16.268999099731445,0 C-16.268999099731445,0.828000009059906 -15.618000030517578,1.4800000190734863 -14.789999961853027,1.4800000190734863 C-7.425000190734863,1.4800000190734863 -1.4789999723434448,7.425000190734863 -1.4789999723434448,14.789999961853027 C-1.4789999723434448,15.619000434875488 -0.828000009059906,16.268999099731445 0,16.268999099731445 C0.828000009059906,16.268999099731445 1.4789999723434448,15.619000434875488 1.4789999723434448,14.789999961853027 C1.4789999723434448,7.425000190734863 7.425000190734863,1.4800000190734863 14.789999961853027,1.4800000190734863 C15.619000434875488,1.4800000190734863 16.268999099731445,0.828000009059906 16.268999099731445,0 C16.268999099731445,-0.828000009059906 15.619000434875488,-1.4789999723434448 14.789999961853027,-1.4789999723434448z"
                                                                                    fill="rgb(222,227,248)"
                                                                                    fill-opacity="1">
                                                                              </path>
                                                                        </g>
                                                                  </g>
                                                                  <g opacity="1" style="display: block;"
                                                                        transform="matrix(1,0,0,1,167.4199981689453,35.08100128173828)">
                                                                        <g opacity="1"
                                                                              transform="matrix(1,0,0,1,5.567999839782715,5.568999767303467)">
                                                                              <path d=" M4.835999965667725,-0.48399999737739563 C2.427999973297119,-0.48399999737739563 0.48399999737739563,-2.427999973297119 0.48399999737739563,-4.835999965667725 C0.48399999737739563,-5.10699987411499 0.2709999978542328,-5.318999767303467 0.0010000000474974513,-5.318999767303467 C-0.27000001072883606,-5.318999767303467 -0.4830000102519989,-5.10699987411499 -0.4830000102519989,-4.835999965667725 C-0.4830000102519989,-2.427999973297119 -2.427000045776367,-0.48399999737739563 -4.835000038146973,-0.48399999737739563 C-5.105999946594238,-0.48399999737739563 -5.317999839782715,-0.2709999978542328 -5.317999839782715,0 C-5.317999839782715,0.27000001072883606 -5.105999946594238,0.4830000102519989 -4.835000038146973,0.4830000102519989 C-2.427000045776367,0.4830000102519989 -0.4830000102519989,2.427000045776367 -0.4830000102519989,4.835000038146973 C-0.4830000102519989,5.105999946594238 -0.27000001072883606,5.318999767303467 0.0010000000474974513,5.318999767303467 C0.2709999978542328,5.318999767303467 0.48399999737739563,5.105999946594238 0.48399999737739563,4.835000038146973 C0.48399999737739563,2.427000045776367 2.427999973297119,0.4830000102519989 4.835999965667725,0.4830000102519989 C5.10699987411499,0.4830000102519989 5.317999839782715,0.27000001072883606 5.317999839782715,0 C5.317999839782715,-0.2709999978542328 5.10699987411499,-0.48399999737739563 4.835999965667725,-0.48399999737739563z"
                                                                                    fill="rgb(222,227,248)"
                                                                                    fill-opacity="1">
                                                                              </path>
                                                                        </g>
                                                                  </g>
                                                                  <g opacity="1" style="display: block;"
                                                                        transform="matrix(1,0,0,1,133,98.5)">
                                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                                                              <path d=" M85.75,-36.75 C84.01499938964844,-35.724998474121094 -84.75,76.25 -84.75,76.25 C-84.75,76.25 97.38899993896484,-16.871999740600586 98.75,-18 C100.93800354003906,-19.812999725341797 104,-25.5 100.25,-31.75 C96.5,-38 88.5,-38.375 85.75,-36.75z"
                                                                                    fill="url(#__lottie_element_10)"
                                                                                    fill-opacity="1">
                                                                              </path>
                                                                              <path d=" M85.75,-36.75 C84.01499938964844,-35.724998474121094 -84.75,76.25 -84.75,76.25 C-84.75,76.25 97.38899993896484,-16.871999740600586 98.75,-18 C100.93800354003906,-19.812999725341797 104,-25.5 100.25,-31.75 C96.5,-38 88.5,-38.375 85.75,-36.75z"
                                                                                    fill-opacity="0"
                                                                                    stroke="rgb(255,255,255)"
                                                                                    stroke-linecap="butt"
                                                                                    stroke-linejoin="miter"
                                                                                    stroke-miterlimit="4"
                                                                                    stroke-opacity="1" stroke-width="0">
                                                                              </path>
                                                                        </g>
                                                                  </g>
                                                                  <g opacity="1" style="display: block;"
                                                                        transform="matrix(1,0,0,1,353.5,-29.499998092651367)">
                                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                                                              <path d=" M85.75,-36.75 C84.01499938964844,-35.724998474121094 -84.75,76.25 -84.75,76.25 C-84.75,76.25 97.38899993896484,-16.871999740600586 98.75,-18 C100.93800354003906,-19.812999725341797 104,-25.5 100.25,-31.75 C96.5,-38 88.5,-38.375 85.75,-36.75z"
                                                                                    fill="url(#__lottie_element_6)"
                                                                                    fill-opacity="1">
                                                                              </path>
                                                                              <path d=" M85.75,-36.75 C84.01499938964844,-35.724998474121094 -84.75,76.25 -84.75,76.25 C-84.75,76.25 97.38899993896484,-16.871999740600586 98.75,-18 C100.93800354003906,-19.812999725341797 104,-25.5 100.25,-31.75 C96.5,-38 88.5,-38.375 85.75,-36.75z"
                                                                                    fill-opacity="0"
                                                                                    stroke="rgb(255,255,255)"
                                                                                    stroke-linecap="butt"
                                                                                    stroke-linejoin="miter"
                                                                                    stroke-miterlimit="4"
                                                                                    stroke-opacity="1" stroke-width="0">
                                                                              </path>
                                                                        </g>
                                                                  </g>
                                                            </g>
                                                      </svg>
                                                </div>
                                          </div>
                                          <h2 class="sc-afb6f474-0 hzinRj sc-ea7b0d94-3 bmlkET">Ótimo! Você acaba de
                                                definir seu primeiro objetivo!</h2>
                                          <p class="sc-ea7b0d94-4 ehLiVW">Vamos continuar para que possamos te conhecer
                                                melhor.</p>
                                          <div class="sc-ea7b0d94-5 hcPpeA"><button
                                                      class="sc-4df64fe9-1 ijTvND sc-19309a12-4 sc-19309a12-6 sc-ea7b0d94-6 sc-ea7b0d94-7 cSXblN eJznWK dCxIim iMiAxF"
                                                      onclick="window.location.href='<%=backPath%>'" type="button"><span
                                                            class="sc-4df64fe9-2 jINEEK">Voltar</span></button><button
                                                      class="sc-4df64fe9-1 ubMHW sc-19309a12-4 sc-19309a12-6 sc-ea7b0d94-6 sc-ea7b0d94-8 cSXblN eJznWK dCxIim sCSns"
                                                      onclick="window.location.href='<%=nextPath%>'" type="button"><span
                                                            class="sc-4df64fe9-2 jINEEK">Próximo</span></button>
                                          </div>
                                    </div><span aria-label="✅" class="sc-e5cbfa94-0 iCQrnH sc-561ee9c5-0 eISuFp"
                                          height="40" width="40"></span><span aria-label="❌"
                                          class="sc-e5cbfa94-0 eMzTZs sc-561ee9c5-0 eISuFp" height="40"
                                          width="40"></span>
                              </div>
                        </div>
                  </div>
            </div>
      </div><iframe height="1" style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"
            width="1"></iframe><next-route-announcer>
            <p aria-live="assertive" id="__next-route-announcer__" role="alert"
                  style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;">
                  ASTRALIZ</p>
      </next-route-announcer><iframe allow="microphone *" aria-hidden="true" data-product="web_widget"
            role="presentation" src="cid:frame-164CD563C8F514EFB9D7A86A5E242B00@mhtml.blink"
            style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;" tabindex="-1"
            title="No content"></iframe>
      <iframe allow="join-ad-interest-group" data-load-time="1731714746961"
            data-tagging-id="AW-581615388/ycbGCIm5nMgCEJz-qpUC" height="0"
            src="cid:frame-A39FF1CD8CA02528C44DBF00323C7B21@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1731714746966"
            data-tagging-id="AW-10813984679/6WgrCJ6i3vEYEKefwaQo" height="0"
            src="cid:frame-05BB100BDF44982715244FF8ABB0193F@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe height="0" style="display: none; visibility: hidden;" width="0"></iframe><iframe
            id="snap1998199" src="cid:frame-1BCB4CDFBA72437E284153B18008BEBF@mhtml.blink"
            style="display: none !important; height: 1px !important; overflow: hidden !important; position: absolute !important; width: 1px !important;"></iframe><img
            height="1"
            src="https://t.co/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%26420%261237%268%2624%26420%261237%261%26na&amp;eci=2&amp;event_id=5a96ff22-9b79-4c3d-8764-f1e9abda871f&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=e5b2d1fb-5e1f-4d60-8b7b-b78f4d4fd151&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
            style="display: none;" width="1" /><img height="1"
            src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%26420%261237%268%2624%26420%261237%261%26na&amp;eci=2&amp;event_id=5a96ff22-9b79-4c3d-8764-f1e9abda871f&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=e5b2d1fb-5e1f-4d60-8b7b-b78f4d4fd151&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
            style="display: none;" width="1" />
      <div style="visibility: visible;">
            <div></div>
            <div></div>
      </div><iframe allow="join-ad-interest-group" data-load-time="1731714747196" data-tagging-id="G-0CNEN2SNEX"
            height="0" src="cid:frame-C8B49D6FF1C965BA7DA57CCF5CCD10F4@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
            data-load-time="1731716561135" data-tagging-id="G-L0LHQSRDB5" height="0"
            src="cid:frame-E8D2F9DA7A3E510203261D16DC1083FD@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe>
      <div id="onetrust-consent-sdk">
            <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
            <div aria-label="Preference center" class="otPcCenter ot-hide ot-fade-in" id="onetrust-pc-sdk" lang="en"
                  role="region">
                  <div aria-describedby="ot-pc-desc" aria-label="Privacy Preference Center" aria-modal="true"
                        role="alertdialog" style="height: 100%;">Botão Fechar
                        <div class="ot-pc-header">Tag do Logo
                              <div aria-label="Company Logo" class="ot-pc-logo" role="img"><img alt="Company Logo"
                                          src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png" />
                              </div><button aria-label="Close" class="ot-close-icon" id="close-pc-btn-handler"
                                    style='background-image: url("https://cdn.cookielaw.org/logos/static/ot_close.svg");'></button>
                        </div>Botão Fechar
                        <div class="ot-pc-scrollbar" id="ot-pc-content">
                              <div class="ot-optout-signal ot-hide">
                                    <div class="ot-optout-icon"><svg xmlns="http://www.w3.org/2000/svg">
                                                <path class="ot-floating-button__svg-fill"
                                                      d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z"
                                                      fill="#FFF" fill-rule="evenodd"></path>
                                          </svg></div><span></span>
                              </div>
                              <h2 id="ot-pc-title">Centro de Preferência de Privacidade</h2>
                              <div id="ot-pc-desc">Quando você visita qualquer site, ele pode armazenar ou recuperar
                                    informações no seu navegador, principalmente na forma de cookies. Essas informações
                                    podem ser sobre você, suas preferências ou seu dispositivo e são usadas
                                    principalmente para fazer o site funcionar como você espera. As informações
                                    geralmente não o identificam diretamente, mas podem proporcionar uma experiência na
                                    web mais personalizada. Como respeitamos seu direito à privacidade, você pode optar
                                    por não permitir alguns tipos de cookies. Clique nos diferentes cabeçalhos de
                                    categoria para saber mais e alterar nossas configurações padrão. No entanto,
                                    bloquear alguns tipos de cookies pode impactar sua experiência no site e os serviços
                                    que podemos oferecer.<br /><a
                                          aria-label="More information about your privacy, opens in a new tab"
                                          class="privacy-notice-link"
                                          href="https://cookiepedia.co.uk/giving-consent-to-cookies" rel="noopener"
                                          target="_blank">Mais informações</a>
                              </div><button id="accept-recommended-btn-handler">Permitir Todos</button>
                              <section class="ot-sdk-row ot-cat-grp">
                                    <h3 id="ot-category-title">Gerenciar Preferências de Consentimento</h3>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0003"><button aria-controls="ot-desc-id-C0003"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0003 ot-status-id-C0003"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0003">Cookies Funcionais
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0003">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0003">Esses
                                                      cookies permitem que o site ofereça funcionalidades aprimoradas e
                                                      personalização. Eles podem ser definidos por nós ou por provedores
                                                      de terceiros cujos serviços adicionamos às nossas páginas. Se você
                                                      não permitir esses cookies, alguns ou todos esses serviços podem
                                                      não funcionar corretamente.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0002"><button aria-controls="ot-desc-id-C0002"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0002 ot-status-id-C0002"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0002">Cookies de Desempenho
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0002">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0002">Esses
                                                      cookies nos permitem contar visitas e fontes de tráfego para que
                                                      possamos medir e melhorar o desempenho do nosso site. Eles nos
                                                      ajudam a saber quais páginas são as mais e as menos populares e a
                                                      ver como os visitantes navegam pelo site. Todas as informações que
                                                      esses cookies coletam são agregadas e, portanto, anônimas. Se você
                                                      não permitir esses cookies, não saberemos quando você visitou
                                                      nosso site e não poderemos monitorar seu desempenho.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0004"><button aria-controls="ot-desc-id-C0004"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0004 ot-status-id-C0004"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0004">Cookies de Segmentação
                                                </h4>
                                                <div class="ot-always-active" id="ot-status-id-C0004">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0004">Esses
                                                      cookies podem ser configurados através do nosso site por nossos
                                                      parceiros de publicidade. Eles podem ser usados por essas empresas
                                                      para construir um perfil dos seus interesses e mostrar anúncios
                                                      relevantes em outros sites. Eles não armazenam diretamente
                                                      informações pessoais, mas são baseados na identificação única do
                                                      seu navegador e dispositivo de internet. Se você não permitir
                                                      esses cookies, você terá uma experiência com menos anúncios
                                                      direcionados.</p>
                                          </div>
                                    </div>
                                    <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                          data-optanongroupid="C0001"><button aria-controls="ot-desc-id-C0001"
                                                aria-expanded="false"
                                                aria-labelledby="ot-header-id-C0001 ot-status-id-C0001"
                                                ot-accordion="true"></button>Cabeçalho do acordeão
                                          <div class="ot-acc-hdr ot-always-active-group">
                                                <div class="ot-plus-minus"><span></span><span></span>
                                                </div>
                                                <h4 class="ot-cat-header" id="ot-header-id-C0001">Cookies Estritamente
                                                      Necessários</h4>
                                                <div class="ot-always-active" id="ot-status-id-C0001">Sempre Ativo</div>
                                          </div>detalhe do acordeão
                                          <div class="ot-acc-grpcntr ot-acc-txt">
                                                <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-C0001">Esses
                                                      cookies são necessários para o funcionamento do site e não podem
                                                      ser desativados em nossos sistemas. Eles geralmente são definidos
                                                      em resposta a ações feitas por você que equivalem a um pedido de
                                                      serviços, como definir suas preferências de privacidade, fazer
                                                      login ou preencher formulários. Você pode configurar seu navegador
                                                      para bloquear ou alertá-lo sobre esses cookies, mas algumas partes
                                                      do site não funcionarão. Esses cookies não armazenam nenhuma
                                                      informação pessoal identificável.</p>
                                          </div>
                                    </div>
                                    Início das seções de gruposO fim da seção de grupoA seção do Grupo de Acordeão
                                    começaO grupo de seções do acordeão termina
                              </section>
                        </div>
                        <section class="ot-hide ot-hosts-ui ot-pc-scrollbar" id="ot-pc-lst">
                              <div id="ot-pc-hdr">
                                    <div id="ot-lst-title"><button aria-label="Back"
                                                class="ot-link-btn back-btn-handler"><svg id="ot-back-arw"
                                                      viewbox="0 0 444.531 444.531" x="0px" xml:space="preserve"
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                      <title>Botão Voltar</title>
                                                      <g>
                                                            <path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                    l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                    c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                    s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                    L213.13,222.409z" fill="#656565"></path>
                                                      </g>
                                                </svg></button>
                                          <h3>Lista de Cookies</h3>
                                    </div>
                                    <div class="ot-lst-subhdr">
                                          <div class="ot-search-cntr">
                                                <p class="ot-scrn-rdr" role="status"></p><input
                                                      aria-label="Cookie list search" id="vendor-search-handler"
                                                      name="vendor-search-handler" placeholder="Search…" type="text" />
                                                <svg aria-hidden="true" viewbox="0 -30 110 110" x="0px"
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                      <title>Ícone de Pesquisa</title>
                                                      <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
            s-17-7.626-17-17S14.61,6,23.984,6z" fill="#2e3644"></path>
                                                </svg>
                                          </div>
                                          <div class="ot-fltr-cntr"><button aria-haspopup="true" aria-label="Filter"
                                                      id="filter-btn-handler"><svg aria-hidden="true"
                                                            role="presentation" viewbox="0 0 402.577 402.577" x="0px"
                                                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                            <title>Ícone de Filtro</title>
                                                            <g>
                                                                  <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
      c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
      c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
      C402.765,25.895,404.093,19.231,400.858,11.427z" fill="#fff"></path>
                                                            </g>
                                                      </svg></button></div>
                                          <div id="ot-anchor"></div>
                                          <section id="ot-fltr-modal">
                                                <div id="ot-fltr-cnt"><button id="clear-filters-handler">Claro</button>
                                                      <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                                                            <div class="ot-fltr-opts">
                                                                  <div class="ot-fltr-opt">
                                                                        <div class="ot-chkbox">
                                                                              <input class="category-filter-handler"
                                                                                    id="chkbox-id" type="checkbox" />
                                                                              <label for="chkbox-id"><span
                                                                                          class="ot-label-txt">caixa de
                                                                                          seleção
                                                                                          rótulo</span></label>
                                                                              <span
                                                                                    class="ot-label-status">rótulo</span>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="ot-fltr-btns"><button
                                                                        id="filter-apply-handler">Aplicar</button>
                                                                  <button id="filter-cancel-handler">Cancelar</button>
                                                            </div>
                                                      </div>
                                                </div>
                                          </section>
                                    </div>
                              </div>
                              <section class="ot-host-cnt ot-pc-scrollbar" id="ot-lst-cnt">
                                    <div id="ot-sel-blk">
                                          <div class="ot-sel-all">
                                                <div class="ot-sel-all-hdr"><span
                                                            class="ot-consent-hdr">Consentimento</span>
                                                      <span class="ot-li-hdr">Leg.Interest</span>
                                                </div>
                                                <div class="ot-sel-all-chkbox">
                                                      <div class="ot-chkbox" id="ot-selall-hostcntr">
                                                            <input id="select-all-hosts-groups-handler"
                                                                  type="checkbox" /> <label
                                                                  for="select-all-hosts-groups-handler"><span
                                                                        class="ot-label-txt">caixa de seleção
                                                                        rótulo</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                      <div class="ot-chkbox" id="ot-selall-vencntr">
                                                            <input id="select-all-vendor-groups-handler"
                                                                  type="checkbox" /> <label
                                                                  for="select-all-vendor-groups-handler"><span
                                                                        class="ot-label-txt">caixa de seleção
                                                                        rótulo</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                      <div class="ot-chkbox" id="ot-selall-licntr">
                                                            <input id="select-all-vendor-leg-handler" type="checkbox" />
                                                            <label for="select-all-vendor-leg-handler"><span
                                                                        class="ot-label-txt">caixa de seleção
                                                                        rótulo</span></label>
                                                            <span class="ot-label-status">rótulo</span>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="ot-sdk-row">
                                          <div class="ot-sdk-column"></div>
                                    </div>
                              </section>
                        </section>
                        <div class="ot-pc-footer ot-pc-scrollbar">
                              <div class="ot-btn-container"><button class="ot-pc-refuse-all-handler">Rejeitar
                                          Todos</button> <button
                                          class="save-preference-btn-handler onetrust-close-btn-handler">Confirmar
                                          Minhas Escolhas</button></div>Logo do rodapé
                              <div class="ot-pc-footer-logo"><a aria-label="Powered by OneTrust Opens in a new Tab"
                                          href="https://www.onetrust.com/products/cookie-consent/"
                                          rel="noopener noreferrer" target="_blank"><img alt="Powered by Onetrust"
                                                src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
                                                title="Powered by OneTrust Opens in a new Tab" /></a>
                              </div>
                        </div>
                        Container de subgrupo de cookiesLink da lista de fornecedoresLink perdido do cookieAlternar
                        elemento HTMLCheckbox HTMLmais menosElemento SVG de setaElemento básico do acordeão<span
                              aria-atomic="true" aria-live="polite" class="ot-scrn-rdr"></span>Modelo de contêiner e
                        item de serviço do fornecedor
                  </div><iframe aria-hidden="true" class="ot-text-resize" sandbox="allow-same-origin"
                        style="position: absolute; top: -50000px; width: 100em;" title="onetrust-text-resize"></iframe>
            </div>
      </div><iframe allow="join-ad-interest-group" data-load-time="1731770807001" data-tagging-id="G-L0LHQSRDB5"
            height="0" src="cid:frame-996D989A1F688FEC370F64CD72A9AFF5@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
            data-load-time="1731777039202" data-tagging-id="G-L0LHQSRDB5" height="0"
            src="cid:frame-5A3CC78873714E9CA5A684EE340FC761@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe><iframe allow="join-ad-interest-group" data-load-time="1731777138372"
            data-tagging-id="G-L0LHQSRDB5" height="0" src="cid:frame-814F7C031757BD846AFCC7D349C0FA66@mhtml.blink"
            style="display: none; visibility: hidden;" width="0"></iframe><iframe allow="join-ad-interest-group"
            data-load-time="1731777243268" data-tagging-id="G-L0LHQSRDB5" height="0"
            src="cid:frame-C6642C5C8DCAB6ED271358C3CE17800C@mhtml.blink" style="display: none; visibility: hidden;"
            width="0"></iframe>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowmode="open">
            <div aria-label="grammarly-integration" class="grammarly-desktop-integration"
                  data-content='{"mode":"full","isActive":true,"isUserDisabled":false}' role="group" tabindex="-1">
            </div>
      </template></grammarly-desktop-integration>

</html>