@charset "utf-8";

.fbEKfK { position: relative; display: flex; flex-direction: column; width: 100%; min-height: 100%; background: rgb(254, 254, 254); }

.iyEYIv { display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-pack: justify; justify-content: space-between; width: 100%; max-width: 1366px; margin: 0px auto; padding: 0px 15px; }

@media (min-width: 1025px) {
  .iyEYIv { padding: 0px 50px; }
}

.kJzitJ { display: flex; -webkit-box-flex: 1; flex-grow: 1; align-self: center; width: 100%; }

.bySgDj { display: flex; flex-direction: column; width: 100%; }

.iIYHnr { flex-shrink: 0; }

.kDQkfA { display: inline-block; color: rgb(25, 118, 210); animation: 1.4s linear 0s infinite normal none running epmXAj; }

.bgAEuN { display: block; }

.jMfttW { stroke: currentcolor; stroke-dasharray: 80px, 200px; stroke-dashoffset: 0; animation: 1.4s ease-in-out 0s infinite normal none running jzfMP; }

.DTWSl { height: auto; }

.ijTvND { z-index: 2; display: inline-flex; -webkit-box-align: center; align-items: center; align-self: center; -webkit-box-pack: center; justify-content: center; width: 330px; max-width: 100%; height: 40px; padding: 5px 10px; border: none; border-radius: 12px; text-align: center; text-decoration: none; vertical-align: middle; color: rgb(251, 251, 255); background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%); opacity: 1; user-select: none; outline: none; }

@media (min-width: 1025px) {
  .ijTvND { height: 50px; }
}

.ijTvND .sc-4df64fe9-0 { color: rgb(251, 251, 255) !important; }

.ubMHW { z-index: 2; display: inline-flex; -webkit-box-align: center; align-items: center; align-self: center; -webkit-box-pack: center; justify-content: center; width: 330px; max-width: 100%; height: 40px; padding: 5px 10px; border: none; border-radius: 12px; text-align: center; text-decoration: none; vertical-align: middle; color: rgb(106, 58, 162); background: rgb(251, 251, 255); opacity: 1; user-select: none; outline: none; }

@media (min-width: 1025px) {
  .ubMHW { height: 50px; }
}

.ubMHW .sc-4df64fe9-0 { color: rgb(106, 58, 162) !important; }

.hGzKth { z-index: 2; display: inline-flex; -webkit-box-align: center; align-items: center; align-self: center; -webkit-box-pack: center; justify-content: center; width: 330px; max-width: 100%; height: 40px; padding: 5px 10px; border: none; border-radius: 12px; text-align: center; text-decoration: none; vertical-align: middle; color: rgb(251, 251, 255); background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%); opacity: 0.5; cursor: not-allowed; user-select: none; outline: none; }

@media (min-width: 1025px) {
  .hGzKth { height: 50px; }
}

.hGzKth .sc-4df64fe9-0 { color: rgb(251, 251, 255) !important; }

.jINEEK { display: inherit; -webkit-box-align: inherit; align-items: inherit; -webkit-box-pack: inherit; justify-content: inherit; }

.cxHrlp { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; max-width: 100%; max-height: 100%; border-radius: 6px; font-size: 14px; line-height: 21px; text-align: center; text-transform: uppercase; background: rgb(153, 116, 246); box-shadow: rgba(153, 116, 246, 0.5) 0px 0px 0px 0px; animation: 1.5s ease 0s infinite normal none running dLdeSz; }

.cxHrlp:hover { animation: auto ease 0s 1 normal none running none; }

.fVTIbi { display: inline-block; width: 38px; height: 38px; background-image: url("/_next/static/media/red-heart.c6f80f42.png"); background-size: contain; background-position: center center; background-repeat: no-repeat; }

.kYvYeH { display: inline-block; width: 38px; height: 38px; background-image: url("/_next/static/media/brain.3bb9dac8.png"); background-size: contain; background-position: center center; background-repeat: no-repeat; }

.iqRKGo { display: inline-block; width: 38px; height: 38px; background-image: url("/_next/static/media/paperclip.682ed54a.png"); background-size: contain; background-position: center center; background-repeat: no-repeat; }

.hxvRjX { margin-bottom: 20px; font-size: 24px; line-height: 28px; text-align: center; color: rgb(51, 51, 51); }

@media (min-width: 1025px) {
  .hxvRjX { max-width: 708px; font-size: 32px; line-height: 44px; }
}

.iZbNfa { position: fixed; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; inset: 0px; background-color: rgba(0, 0, 0, 0.5); -webkit-tap-highlight-color: transparent; }

.gKyxEL { position: fixed; z-index: 1300; inset: 0px; }

.QBYGK { z-index: -1; }

.gBbMgc { background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.87); transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); box-shadow: none; }

.eZiURn { z-index: 1200; }

.lkuoJc { position: absolute; right: 0px; fill: rgb(51, 51, 51); cursor: pointer; }

.iUnoPQ { position: absolute; right: 0px; fill: rgb(251, 251, 255); cursor: pointer; }

.eYZZcB { transform: rotate(90deg); }

.fHGGon { position: relative; z-index: 2; margin-bottom: 13px; padding-top: 20px; text-align: center; }

.lEtxG { fill: rgb(51, 51, 51); }

.lfkrpa { fill: rgb(251, 251, 255); }

.eCueRJ { position: absolute; top: 20px; left: 0px; width: 24px; height: 24px; fill: rgb(251, 251, 255); }

.belwZd { position: absolute; top: 20px; left: 0px; width: 24px; height: 24px; fill: rgb(51, 51, 51); }

.jDIPrQ { position: relative; overflow: hidden; display: block; height: 4px; z-index: 0; background-color: rgb(167, 202, 237); }

@media print {
  .jDIPrQ { }
}

.kXIEmV { width: 100%; position: absolute; left: 0px; bottom: 0px; top: 0px; transition: transform 0.4s linear; transform-origin: left center; background-color: rgb(25, 118, 210); }

.eovbqh { display: flex; flex-direction: row; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; background: rgb(255, 255, 255); padding: 8px; }

.ddWVRT { width: 50%; }

.beHWsu { padding-left: 8px; padding-right: 8px; }

.gPNuFP { user-select: none; width: 1em; height: 1em; display: inline-block; fill: currentcolor; flex-shrink: 0; transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 1.5rem; }

.iliwYY { display: block; transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1); color: rgba(0, 0, 0, 0.38); }

.iliwYY.Mui-completed { color: rgb(25, 118, 210); }

.iliwYY.Mui-active { color: rgb(25, 118, 210); }

.iliwYY.Mui-error { color: rgb(211, 47, 47); }

.krECEr { fill: rgb(255, 255, 255); font-size: 0.75rem; font-family: Roboto, Helvetica, Arial, sans-serif; }

.gLOgbl { display: flex; -webkit-box-align: center; align-items: center; }

.gLOgbl.MuiStepLabel-alternativeLabel { flex-direction: column; }

.gLOgbl.Mui-disabled { cursor: default; }

.dhNdbg { flex-shrink: 0; display: flex; padding-right: 8px; }

.dhNdbg.MuiStepLabel-alternativeLabel { padding-right: 0px; }

.eoORYr { width: 100%; color: rgba(0, 0, 0, 0.6); }

.eoORYr.MuiStepLabel-alternativeLabel { text-align: center; }

.kIqUlp { display: flex; flex-direction: row; -webkit-box-align: center; align-items: center; }

.juDvFH { z-index: 1; -webkit-box-pack: center; justify-content: center; padding: 0px !important; background: transparent !important; }

.jmzrsf { position: relative; margin-top: 5px; margin-bottom: 20px; font-size: 14px; font-weight: 600; text-align: center; color: rgb(187, 107, 217); }

.jsPCoQ { position: relative; display: flex; padding: 0px !important; }

.bJvRVi .MuiStepLabel-iconContainer { padding-right: 0px; }

.bJvRVi .MuiStepIcon-text { fill: rgb(142, 140, 240); }

.bJvRVi .MuiSvgIcon-root { width: 16px; height: 16px; border: 1px solid rgb(142, 140, 240); border-radius: 50%; color: white; }

.bJvRVi .MuiStepIcon-root.MuiStepIcon-active { border: none; color: rgb(142, 140, 240); }

.bJvRVi .MuiStepIcon-root.Mui-completed { border: none; color: rgb(142, 140, 240); }

.eSbdBy .MuiStepLabel-iconContainer { padding-right: 0px; }

.eSbdBy .MuiStepIcon-text { fill: rgb(86, 204, 242); }

.eSbdBy .MuiSvgIcon-root { width: 16px; height: 16px; border: 1px solid rgb(86, 204, 242); border-radius: 50%; color: white; }

.eSbdBy .MuiStepIcon-root.MuiStepIcon-active { border: none; color: rgb(86, 204, 242); }

.eSbdBy .MuiStepIcon-root.Mui-completed { border: none; color: rgb(86, 204, 242); }

.dmVEZi .MuiStepLabel-iconContainer { padding-right: 0px; }

.dmVEZi .MuiStepIcon-text { fill: rgb(187, 107, 217); }

.dmVEZi .MuiSvgIcon-root { width: 16px; height: 16px; border: 1px solid rgb(187, 107, 217); border-radius: 50%; color: white; }

.dmVEZi .MuiStepIcon-root.MuiStepIcon-active { border: none; color: rgb(187, 107, 217); }

.dmVEZi .MuiStepIcon-root.Mui-completed { border: none; color: rgb(187, 107, 217); }

.CdAUv { width: 88px; padding: 0px !important; background: none !important; }

.CdAUv .MuiLinearProgress-barColorPrimary { background: rgb(142, 140, 240); }

.CdAUv .MuiMobileStepper-progress { width: 100%; height: 6px; background: rgb(210, 209, 249); }

.iutCRo { width: 88px; padding: 0px !important; background: none !important; }

.iutCRo .MuiLinearProgress-barColorPrimary { background: rgb(86, 204, 242); }

.iutCRo .MuiMobileStepper-progress { width: 100%; height: 6px; background: rgb(210, 209, 249); }

.dqKQue { width: 88px; padding: 0px !important; background: none !important; }

.dqKQue .MuiLinearProgress-barColorPrimary { background: rgb(187, 107, 217); }

.dqKQue .MuiMobileStepper-progress { width: 100%; height: 6px; background: rgb(210, 209, 249); }

.NLMoi { position: absolute; width: 16px; height: 16px; border-radius: 50%; background: rgb(142, 140, 240); }

.iIKZPe { position: absolute; inset: 0px; z-index: 0; background: rgb(255, 255, 255); }

.iNDIiZ { position: absolute; inset: 0px; z-index: 0; background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%); }

.hCsRSy { display: flex; -webkit-box-align: center; align-items: center; justify-content: left; width: 100%; max-width: 360px; min-height: 64px; margin-right: auto; margin-left: auto; padding-right: 24px; padding-left: 24px; border: 1px solid rgb(224, 224, 224); border-radius: 10px; box-sizing: border-box; text-align: left; background: rgb(234, 238, 247); box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px; cursor: pointer; }

.hCsRSy:active { transition: 100ms ease-in-out; transform: scale(1.1); }

.iQzytC { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 100%; max-width: 360px; min-height: 64px; margin-right: auto; margin-left: auto; padding-right: 24px; padding-left: 24px; border: 1px solid rgb(224, 224, 224); border-radius: 10px; box-sizing: border-box; text-align: center; background: rgb(234, 238, 247); box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px; cursor: pointer; }

.iQzytC:active { transition: 100ms ease-in-out; transform: scale(1.1); }

.ksUEoP { vertical-align: top; }

.hOrGZN { margin-right: 12px; }

.bqfKpL { font-size: 14px; line-height: 20px; }

.bBHgCJ { -webkit-box-flex: 1; flex-grow: 1; width: 100%; max-width: 708px; margin: 0px auto; }

.iJerUR { align-self: flex-start; margin-bottom: 30px; font-size: 24px; line-height: 28px; text-align: left; color: rgb(51, 51, 51); }

@media (min-width: 1025px) {
  .iJerUR { max-width: 708px; font-size: 32px; line-height: 44px; }
}

.hIlIGI { z-index: 1; display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; width: 100%; max-width: 330px; margin-right: auto; margin-left: auto; text-align: center; }

.cjUDgo { display: flex; flex-direction: column; margin-top: 10px; }

.jWRYxU { margin-bottom: 20px; }

.uymkj { z-index: 2; margin-right: auto; margin-left: auto; }

.kvNjvv { padding-bottom: 8px; font-size: 12px; text-align: center; color: rgb(130, 130, 130); pointer-events: none; user-select: none; }

.fsZVHH { width: 100%; max-width: 5em; height: 1em; font-size: 1rem; background: linear-gradient(90deg, rgb(255, 204, 0) 100%, rgb(238, 238, 238) 0px); mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik04LjQ5OTc4IDEyLjE3NEwzLjc5Nzc4IDE0LjgwNkw0Ljg0Nzc4IDkuNTIwNjVMMC44OTExMTMgNS44NjE5OEw2LjI0MjQ1IDUuMjI3MzJMOC40OTk3OCAwLjMzMzk4NEwxMC43NTcxIDUuMjI3MzJMMTYuMTA4NCA1Ljg2MTk4TDEyLjE1MTggOS41MjA2NUwxMy4yMDE4IDE0LjgwNkw4LjQ5OTc4IDEyLjE3NFoiIGZpbGw9IiNGMkM5NEMiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMCI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNSkiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K"); mask-position: 0px 0px; mask-size: 1em 1em; }

.iUsYGE { width: 100%; max-width: 5em; height: 1em; font-size: 1rem; background: linear-gradient(90deg, rgb(255, 204, 0) 93%, rgb(238, 238, 238) 0px); mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik04LjQ5OTc4IDEyLjE3NEwzLjc5Nzc4IDE0LjgwNkw0Ljg0Nzc4IDkuNTIwNjVMMC44OTExMTMgNS44NjE5OEw2LjI0MjQ1IDUuMjI3MzJMOC40OTk3OCAwLjMzMzk4NEwxMC43NTcxIDUuMjI3MzJMMTYuMTA4NCA1Ljg2MTk4TDEyLjE1MTggOS41MjA2NUwxMy4yMDE4IDE0LjgwNkw4LjQ5OTc4IDEyLjE3NFoiIGZpbGw9IiNGMkM5NEMiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMCI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNSkiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K"); mask-position: 0px 0px; mask-size: 1em 1em; }

.hHjEeM { display: flex; -webkit-box-align: center; align-items: center; margin-right: auto; margin-left: auto; }

.hsqZjJ { z-index: 1; display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; max-width: 328px; margin-right: auto; margin-left: auto; text-align: center; }

.cSXblN { margin: auto auto 30px; font-size: 18px; line-height: 21px; }

@media (min-width: 1025px) {
  .cSXblN { margin: auto auto 50px; }
}

.eJznWK { width: 160px; }

.lhEGFE { position: relative; display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; max-width: 330px; margin-right: auto; margin-left: auto; }

.ceftWW { margin-bottom: 40px; font-size: 14px; line-height: 140%; text-align: center; color: rgb(251, 251, 255); }

.ceftWW b { color: rgb(85, 204, 242); }

.cdVxhG { width: 250px; margin: 0px auto; overflow: hidden; background: transparent; outline: none; }

.gkBUpQ { display: flex; -webkit-box-pack: center; justify-content: center; }

.dlELSm { margin-bottom: 20px; font-size: 16px; font-weight: 600; line-height: 22px; text-align: center; color: rgb(251, 251, 255); }

.dlELSm span { text-transform: capitalize; color: rgb(242, 201, 76); }

.dRYLFt { height: 49px; margin: 0px 0px 0px 10px; border-radius: 16px; color: rgb(106, 58, 162); background: rgb(251, 251, 255); }

.hmZdam { height: 49px; margin: 0px; border: 1px solid; border-radius: 16px; background: transparent; }

.eHzgYe { width: 250px; height: 250px; margin-bottom: 20px; }

.eHSKJl { width: 100%; padding: 10px 15px; border: 1px solid rgb(51, 51, 51); border-radius: 25px; line-height: 24px; color: rgb(51, 51, 51); background: transparent; }

.eHSKJl:focus { outline: none; }

.eHSKJl::-webkit-input-placeholder { color: rgb(51, 51, 51); }

.eHSKJl::placeholder { color: rgb(51, 51, 51); }

.ibtkDz { position: absolute; }

.ihdkmx { max-width: 214px; margin: 0px auto 20px; font-size: 12px; line-height: 140%; text-align: center; }

@media (min-width: 1025px) {
  .ihdkmx { width: 284px; }
}

.euhmBk { font-weight: bold; text-decoration: underline; }

.cZEZNh { z-index: 0; display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; -webkit-box-pack: start; justify-content: flex-start; max-width: 330px; margin-right: auto; margin-left: auto; text-align: center; }

.hBWHWX { z-index: 1; margin-top: 40px; margin-bottom: 30px; font-size: 18px; font-weight: bold; line-height: 135%; }

@media (min-width: 1025px) {
  .hBWHWX { -webkit-box-pack: start; justify-content: flex-start; margin-top: 10px; }
}

.dqxoLV { position: relative; -webkit-box-flex: 1; flex-grow: 1; transition: 0.1s 0.3s; }

.dJusaJ { max-width: 214px; margin-bottom: 15px; color: rgb(79, 79, 79); transition: 0.1s 0.3s; }

.dJusaJ .sc-17b2dea6-1 { font-weight: normal; color: rgb(153, 116, 246); }

.keTzDm { display: flex; flex-direction: column; height: 100%; }

.keTzDm:focus-within .sc-c3d70589-2 { -webkit-box-flex: 0; flex-grow: 0; }

.keTzDm:focus-within .sc-c3d70589-3 { opacity: 0; }

@media (min-width: 1025px) {
  .keTzDm:focus-within .sc-c3d70589-2 { -webkit-box-flex: 1; flex-grow: 1; }
  .keTzDm:focus-within .sc-c3d70589-3 { opacity: 1; }
}

.kbnRus { max-width: 330px; margin-right: auto; margin-bottom: 32px; margin-left: auto; font-size: 12px; line-height: 135%; text-align: center; color: rgb(51, 51, 51); }

.ecTZOf { z-index: auto; height: 50px; margin-top: 30px; margin-bottom: 15px; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px; }

.enRyIA { border: 1px solid rgb(79, 79, 79); }

.IVocT { z-index: 3; margin-top: 0px; }

.hrVlJz { display: inline; margin-top: 30px; margin-bottom: 30px; font-size: 24px; line-height: 28px; text-align: left; color: rgb(51, 51, 51); }

.hrVlJz > b { font-weight: inherit; color: rgb(106, 58, 162); }

.cwgsMp { width: 100%; font-size: 18px; font-weight: 400; line-height: 135%; text-align: left; color: rgb(51, 51, 51); }

.eKyqLi { margin-bottom: 20px; font-weight: 600; text-decoration: underline; color: rgb(130, 130, 130); background: transparent; }

.bNjzkn { margin-top: 20px; }

.ezGoum { width: 100%; max-width: 330px; height: 50px; margin-top: auto; margin-bottom: 15px; border-radius: 16px; }

@media (min-width: 1025px) {
  .ezGoum { margin-top: 100px; }
}

.kFTtzl { position: absolute; inset: 0px; z-index: 200; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background: rgb(255, 255, 255); pointer-events: none; }

.cyEkET { margin-top: 20px; font-size: 12px; font-weight: 400; text-align: center; }

.ilmYvb { text-decoration: underline; }

.gjXDnM { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; box-sizing: border-box; -webkit-tap-highlight-color: transparent; background-color: transparent; outline: 0px; border: 0px; margin: 0px; border-radius: 0px; padding: 0px; cursor: pointer; user-select: none; vertical-align: middle; appearance: none; text-decoration: none; color: inherit; }

.gjXDnM.Mui-disabled { pointer-events: none; cursor: default; }

@media print {
  .gjXDnM { }
}

.fKMRWg { overflow: hidden; min-height: 48px; display: flex; }

@media (max-width:NaNpx) {
  .fKMRWg .MuiTabs-scrollButtons { display: none; }
}

.bdDNYe { position: relative; display: inline-block; flex: 1 1 auto; white-space: nowrap; overflow-x: hidden; width: 100%; }

.khghTa { display: flex; }

.fYZTWe { position: absolute; height: 2px; bottom: 0px; width: 100%; transition: 300ms cubic-bezier(0.4, 0, 0.2, 1); background-color: rgb(25, 118, 210); }

.fpbhBI .MuiTabs-indicator { display: none; }

.fZqpu { font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 0.875rem; line-height: 1.25; letter-spacing: 0.02857em; text-transform: uppercase; max-width: 360px; min-width: 90px; position: relative; min-height: 48px; flex-shrink: 0; padding: 12px 16px; overflow: hidden; white-space: normal; text-align: center; color: rgba(0, 0, 0, 0.6); }

.fZqpu.Mui-selected { color: rgb(25, 118, 210); }

.fZqpu.Mui-disabled { color: rgba(0, 0, 0, 0.38); }

.dFqFoe { display: none; }

.fWoSbB { display: block; }

.dcViYT { position: relative; width: 100%; margin-top: -10px; }

.dcViYT > * { width: 100%; }

.dsZkiK { position: static; display: grid; grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); gap: 0.5em; width: 330px; height: 44px; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px; border-radius: 23px; box-sizing: border-box; opacity: 1; }

.eGFzJz { display: none; }

.bydVZW { padding-top: 20px; padding-bottom: 10px; font-size: 18px; font-weight: 600; }

.ggGvEi { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 14px; }

.kQMHBL { font-size: 12px; font-weight: 400; }

.goAitD { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 100%; }

.VIMis { fill: rgb(39, 174, 96); margin-right: 5px; }

.hJTDey { display: flex; -webkit-box-pack: center; justify-content: center; margin-top: 30px; }

.cWJiZR { display: block; width: 75%; margin-right: auto; margin-left: auto; }

.kWikKP { display: flex; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; max-width: 50%; height: 68px; border: 2px solid rgb(232, 232, 252); border-radius: 12px; background: rgb(251, 251, 255); }

.kWikKP:not(:first-child) { margin-left: 8px; }

.hMuGyT { display: flex; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; max-width: 50%; height: 68px; border: 2px solid rgb(114, 112, 192); border-radius: 12px; background: rgb(251, 251, 255); }

.hMuGyT:not(:first-child) { margin-left: 8px; }

.iztvRI { position: relative; overflow-y: auto; }

.gyfXmX { margin-top: 24px; margin-bottom: 32px; font-size: 20px; font-weight: 800; line-height: 20px; text-align: center; }

.epKlCp { backdrop-filter: blur(10px); }

.hdqpBI { display: none; }

.jKIACQ { display: none; }

.iNOPTV { position: relative; display: flex; flex-direction: column; width: 360px; max-width: 95vw; max-height: 95vh; padding: 20px 15px 30px; border-radius: 20px; overflow: hidden; color: rgb(47, 46, 55); background: rgb(255, 255, 255); }

.CaLlp { width: fit-content; }

.hfOMGh { display: flex; flex-wrap: wrap; -webkit-box-pack: center; justify-content: center; margin-bottom: -10px; }

.lhiBde { margin-bottom: 10px; padding: 16px; border-radius: 16px; background: rgb(251, 251, 255); }

.bcAFlf { display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 10px; }

.caMrUe { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 32px; height: 32px; margin-right: 6px; border-radius: 50%; font-weight: 600; line-height: 24px; color: rgb(36, 36, 79); background-color: rgb(210, 209, 249); }

.kKgHqq { flex: 1 1 0%; }

.bQZvOY { margin-bottom: 2px; font-weight: 600; line-height: 130%; color: rgb(106, 58, 162); }

.cJvMha { font-size: 12px; line-height: 130%; color: rgb(155, 155, 155); }

.ebRdnt { display: flex; }

.jKwfPX { flex-shrink: 0; margin-right: 10px; }

.bZHzlk { flex: 1 1 0%; font-size: 14px; line-height: 140%; color: rgb(15, 15, 15); }

.bvvmjZ { position: absolute; z-index: -1000; opacity: 0; visibility: hidden; }

.irYSVn { position: relative; z-index: 2; display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; max-width: 330px; margin-right: auto; margin-left: auto; }

.cLiOyP { fill: rgb(251, 251, 255); opacity: 0; animation-name: bMEwlO; animation-duration: 5s; transform: translateY(-60px); }

.fVxqbK { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 0s; }

.fVxqbP { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 5s; }

.ddKDWz { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 10s; }

.ddKDYu { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 15s; }

.ddKDWA { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 20s; }

.ddKDYx { position: absolute; width: 331px; margin-top: 25px; font-size: 32px; font-weight: 700; line-height: 120%; color: white; opacity: 0; animation-name: bMEwlO; animation-duration: 5s; animation-delay: 25s; }

.cWmCvI { z-index: 1; display: flex; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; -webkit-box-align: center; align-items: center; }

.kumIjH { max-width: 330px; min-height: 56px; margin-bottom: 10px; font-size: 18px; line-height: 28px; }

.fPrzpu .MuiLinearProgress-barColorPrimary { background: rgb(142, 140, 240); }

.fPrzpu.fPrzpu { height: 8px; margin-bottom: 30px; border-radius: 10px; background-color: rgb(230, 230, 230); }

.IdbBk .MuiLinearProgress-barColorPrimary { background: rgb(86, 204, 242); }

.IdbBk.IdbBk { background-color: rgb(230, 230, 230); }

.eVBCqp .MuiLinearProgress-barColorPrimary { background: rgb(187, 107, 217); }

.eVBCqp.eVBCqp { background-color: rgb(230, 230, 230); }

.clvVzM { width: 330px; }

.fIbKZy { display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 15px; color: rgb(142, 140, 240); }

.fTgoWc { font-size: 14px; font-weight: 600; line-height: 120%; }

.bNKnaO { color: rgb(86, 204, 242); }

.eTSXVg { color: rgb(187, 107, 217); }

.hplEQs { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; width: 100px; margin-right: auto; margin-bottom: 30px; margin-left: auto; }

.ZDKUd { width: 8px; height: 8px; border-radius: 50%; background: rgb(236, 200, 188); }

.cZIblX { max-width: 300px; margin-right: auto; margin-left: auto; font-size: 14px; line-height: 140%; text-align: center; }

.iBRVMh { align-self: center; margin-bottom: 10px; }

.dBURBs { position: relative; width: 100%; max-width: 360px; padding: 8px; border-radius: 8px; overflow: hidden; }

.edrcMU { margin-bottom: 6px; font-weight: 600; line-height: 24px; text-align: center; color: rgb(69, 72, 149); }

.bhxRCy { position: relative; display: flex; margin-right: -8px; overflow-x: scroll; }

.bhxRCy::-webkit-scrollbar { display: none; }

.hvmwED { margin-right: 6px; padding: 5px 7px; border-radius: 4px; background: rgb(251, 251, 255); }

.jZXhnQ { margin-right: 6px; padding: 5px 7px; border-radius: 4px; background: rgb(251, 251, 255); animation: 0.5s ease 0s 1 normal none running crkuMt; }

.isMAyt { display: flex; width: max-content; margin-right: 4px; font-size: 12px; line-height: 130%; color: rgb(79, 79, 79); }

.isMAyt b { margin-left: 5px; }

.iZKrCd { margin-top: 30px; margin-bottom: 30px; background: rgba(60, 56, 215, 0.05); }

.igfvMo { position: absolute; inset: 0px; background: rgb(255, 240, 240); }

.dotysO { position: relative; z-index: 1; max-width: 330px; margin-right: auto; margin-left: auto; padding-bottom: 90px; }

.iKMgaa { margin-bottom: 10px; font-size: 14px; line-height: 180%; }

.kRlHmk { font-weight: 600; }

.fIWgMO { margin-bottom: 20px; font-weight: 600; color: rgb(106, 58, 162); }

.iOtSQY { position: relative; display: flex; -webkit-box-pack: justify; justify-content: space-between; max-width: 440px; margin-right: auto; margin-left: auto; }

.eNogph { display: flex; margin-top: 20px; }

.etfeyo { width: 272px; font-size: 12px; line-height: 16px; color: rgb(52, 52, 52); }

.kaxKTy { position: relative; z-index: 1; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 72px; height: 72px; border: 1px solid rgb(224, 224, 224); border-radius: 12px; font-weight: 600; color: rgb(51, 51, 51); background: rgb(234, 238, 247); box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px; }

.ehLHAC { position: relative; z-index: 1; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 72px; height: 72px; border: 1px solid rgb(224, 224, 224); border-radius: 12px; font-weight: 600; color: rgb(251, 251, 255); background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%); box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px; }

.keInzO { position: fixed; bottom: 20px; height: 50px; }

@media (min-width: 1025px) {
  .keInzO { position: relative; bottom: 0px; margin-bottom: 20px; }
}

.homNOt { font-size: 12px; line-height: 120%; color: rgb(51, 51, 51); }

.iSDtev { margin-top: -20px; }

@media (min-width: 1025px) {
  .iSDtev { padding: 0px 40px; }
}

.kYqPRV { width: 100%; margin-top: 20px; }

.eyzEXk { display: flex; }

.jtPwmT { flex-shrink: 0; }

.eLVHdR { flex: 1 1 0%; font-size: 16px; font-weight: 600; line-height: 140%; color: rgb(15, 15, 15); }

@media (min-width: 1025px) {
  .eLVHdR { font-size: 20px; }
}

.jVIwux { margin-top: 8px; margin-left: 32px; font-size: 14px; font-weight: 400; line-height: 140%; color: rgb(51, 51, 51); }

.CKvgl { display: flex; flex-wrap: wrap; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; margin-top: -12px; }

.cSFlNr { display: flex; -webkit-box-align: center; align-items: center; padding: 12px; }

.ciwnSp { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; }

.iTqIRx { font-size: 10px; font-weight: 600; line-height: 130%; color: rgb(51, 51, 51); }

@media (min-width: 1025px) {
  .iTqIRx { display: none; }
}

.gFVTAP { display: flex; margin-top: 3px; }

.dRrjYu { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; }

.gYVBkE { font-size: 18px; font-weight: 700; line-height: 110%; color: rgb(51, 51, 51); }

@media (min-width: 1025px) {
  .gYVBkE { font-size: 28px; }
}

.gflbFg { margin: 0px 4px; }

.jIPDEw { font-size: 8px; font-weight: 600; line-height: 130%; color: rgb(130, 130, 130); }

@media (min-width: 1025px) {
  .jIPDEw { font-size: 12px; }
}

.iiVdyG { position: fixed; top: 0px; left: 0px; z-index: 10; display: flex; -webkit-box-align: center; align-items: center; align-self: center; width: 100%; height: 62px; padding: 8px 15px; background-color: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .iiVdyG { position: absolute; padding: 10px 40px; }
}

.jOjtgf { position: fixed; top: 0px; left: 0px; z-index: 10; display: none; -webkit-box-align: center; align-items: center; align-self: center; width: 100%; height: 62px; padding: 8px 15px; background-color: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .jOjtgf { position: absolute; padding: 10px 40px; }
}

.dA-DmUr { display: flex; -webkit-box-pack: start; justify-content: flex-start; width: 50%; }

.lkwhxQ { display: flex; -webkit-box-pack: end; justify-content: flex-end; width: 50%; }

.ERYEm { min-width: 140px; height: 32px; background: rgb(255, 255, 255); backface-visibility: hidden; }

@media (min-width: 1025px) {
  .ERYEm { width: 240px; }
}

.dcjUqV { font-weight: 700; }

.kzOPoK { max-width: 466px; }

.eIeWdU { display: flex; align-items: flex-start; margin-bottom: 10px; font-size: 15px; line-height: 140%; }

@media (min-width: 1025px) {
  .eIeWdU { -webkit-box-align: stretch; align-items: stretch; margin-bottom: 16px; font-size: 18px; }
}

.bXccDe { flex-shrink: 0; margin-right: 7px; fill: rgb(142, 140, 240); }

@media (min-width: 1025px) {
  .bXccDe { width: 24px; height: 24px; }
}

.iFkyzT { width: 100%; margin-right: auto; margin-left: auto; }

.hHoQHj { position: relative; padding-top: 20px; padding-right: 6px; padding-left: 6px; border-radius: 20px; background: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .hHoQHj { padding-right: 30px; padding-left: 30px; }
}

.khjcbQ { width: 100%; font-size: 24px; font-weight: 700; line-height: 135%; text-align: center; color: rgb(51, 51, 51); }

@media (min-width: 1025px) {
  .khjcbQ { font-size: 32px; }
}

.llTQQL { display: flex; -webkit-box-align: center; align-items: center; margin-top: 20px; padding: 16px 20px; border-radius: 20px; background: rgb(234, 238, 247); }

.bsSSxR { flex: 1 1 0%; text-align: center; }

.dnPWH { flex: 1 1 0%; text-align: center; }

.glkPRV { max-height: 140px; margin-top: 4px; }

.klnIhK { margin-top: 12px; margin-bottom: 20px; counter-reset: item 0; list-style: none; }

.klnIhK > .sc-b75476f8-8::before { font-size: 14px; font-weight: 600; color: rgb(51, 51, 51); content: counter(item) ". "; counter-increment: item 1; }

.bPLTss { display: inline; font-size: 14px; font-weight: 600; line-height: 150%; color: rgb(51, 51, 51); }

.cQsnEX { width: 100%; margin-top: 20px; padding: 0px 20px 20px; }

.cJteDK { width: 100%; font-size: 18px; font-weight: 700; line-height: 140%; text-align: center; color: rgb(51, 51, 51); }

.itywDL { margin-top: 12px; font-size: 14px; font-weight: 400; line-height: 150%; color: rgb(51, 51, 51); }

.jNNyGT { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 60%; padding-top: 34px; border-radius: 20px; background: linear-gradient(rgba(251, 251, 255, 0) 3.34%, rgba(251, 251, 255, 0.8) 24.99%, rgba(251, 251, 255, 0.9) 45.63%, rgba(255, 251, 251, 0.9) 69.74%, rgb(254, 254, 254) 89.93%); }

.enxVEY { display: flex; flex-direction: column; -webkit-box-pack: end; justify-content: end; height: 100%; padding-bottom: 48px; border-radius: 20px; background: linear-gradient(rgba(251, 251, 255, 0) 0%, rgba(251, 251, 255, 0.18) 22.4%, rgba(251, 251, 255, 0.16) 43.75%, rgba(251, 251, 255, 0.14) 75%, rgba(251, 251, 255, 0.196) 89.58%); backdrop-filter: blur(1.5px); }

.eMOHSD { width: 240px; margin: 0px auto 28px; font-weight: 600; line-height: 140%; text-align: center; color: rgb(106, 58, 162); }

@media (min-width: 1025px) {
  .eMOHSD { width: auto; }
}

.ihTONQ { height: 48px; font-size: 18px; font-weight: 700; }

.diVVaw { margin-top: 26px; font-size: 12px; line-height: 20px; text-align: center; color: rgb(51, 51, 51); }

.jAqqAy { font-weight: 600; text-decoration: underline; }

.eavVsc { display: flex; -webkit-box-align: center; align-items: center; width: 100%; margin-bottom: 24px; }

.dMrhXO { display: flex; flex-direction: column; margin-left: 8px; }

.bnJufb { font-size: 12px; line-height: 1; }

.lbdGmk { font-weight: 600; line-height: 130%; }

.lbdGmk::first-letter { text-transform: capitalize; }

.dXDNBY { margin-top: 25px; margin-bottom: 25px; }

.wVJeB { font-weight: 700; }

.iFwexY { font-size: 12px; text-align: center; }

.kjKfyx { width: 100%; margin-bottom: 26px; }

.exUmsh { padding: 4px 0px; border-radius: 20px 20px 0px 0px; background: rgb(153, 116, 246); }

.hvGRPB { font-size: 12px; font-weight: 700; line-height: 120%; text-align: center; color: rgb(251, 251, 255); }

.dgcEMb { padding: 9px 20px 16px; border-radius: 0px 0px 20px 20px; background: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .dgcEMb { padding: 24px 90px; }
}

.egPkpH { display: flex; -webkit-box-pack: center; justify-content: center; }

.hElOOo { font-size: 18px; font-weight: 700; line-height: 28px; color: rgb(15, 15, 15); }

.iKCUFE { margin-top: 2px; margin-left: 8px; font-size: 18px; font-weight: 700; line-height: 25px; color: rgb(114, 112, 192); }

.gIqQYs { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; margin-top: 10px; }

.jkoNsl { font-size: 14px; font-weight: 400; line-height: 24px; color: rgb(15, 15, 15); }

.DdZWY { font-size: 16px; font-weight: 400; line-height: 22px; color: rgb(15, 15, 15); }

.SgJoX { margin-top: 8px; border: 1px solid rgb(224, 224, 224); }

.cNhAKY { display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-top: 10px; }

.hpYqaZ { font-size: 12px; line-height: 24px; color: rgb(15, 15, 15); }

.fchhSg { display: flex; align-items: flex-start; }

.jdXSIC { align-self: flex-end; font-size: 12px; font-weight: 400; line-height: 22px; text-decoration: line-through; color: rgb(130, 130, 130); }

.bRwyWn { margin-left: 4px; font-size: 16px; font-weight: 600; line-height: 22px; color: rgb(51, 51, 51); }

.bOcjLi { width: 100%; }

@media (min-width: 1025px) {
  .bOcjLi { width: 330px; }
}

.jXbpoW { height: 48px; font-size: 18px; font-weight: 700; }

.jZWHzG { display: flex; -webkit-box-pack: center; justify-content: center; width: 100%; }

.iXAjpe { display: flex; -webkit-box-align: center; align-items: center; margin-top: 26px; }

.hEdcwe { margin-left: 5px; font-size: 14px; font-weight: 400; line-height: 24px; color: rgb(79, 79, 79); }

.jTyelS { fill: rgb(39, 174, 96); }

.bLXfbD { display: flex; justify-content: space-around; width: 100%; min-height: 100px; padding-top: 10px; padding-bottom: 6px; border-top-left-radius: 15px; border-top-right-radius: 15px; background: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .bLXfbD { padding-top: 16px; padding-bottom: 9px; }
}

.dnPaNN { height: 196px; }

@media (min-width: 1025px) {
  .dnPaNN { height: 300px; }
}

.cvAypy { position: relative; display: flex; width: 100%; margin-top: 10px; padding: 8px 12px; border-radius: 0px 0px 20px 20px; background: rgb(251, 251, 255); }

@media (min-width: 1025px) {
  .cvAypy { margin-top: 20px; padding: 18px 44px; }
}

.kwgcfX { position: relative; display: flex; flex: 1 1 0%; flex-wrap: wrap; gap: 8px; }

.kwgcfX:not(:first-child) { margin-left: 25px; padding-left: 25px; }

.kwgcfX:not(:first-child)::before { position: absolute; left: 0px; width: 1px; height: 100%; border: 1px solid rgb(212, 198, 229); content: ""; }

@media (min-width: 1025px) {
  .kwgcfX { gap: 20px; }
  .kwgcfX:not(:first-child) { margin-left: 44px; padding-left: 44px; }
}

.dBWGiZ:not(:first-child) { margin-left: 0px; padding-left: 0px; }

.dBWGiZ:not(:first-child)::before { display: none; }

.emLCqx { width: 100%; }

@media (min-width: 1025px) {
  .emLCqx { width: calc(50% - 20px); }
}

.hpCAZw { font-size: 12px; font-weight: 700; line-height: 130%; color: rgb(69, 72, 149); }

.brixXS { margin-top: 4px; font-size: 14px; line-height: 130%; text-transform: capitalize; color: rgb(15, 15, 15); }

.jbirxq { z-index: 2; display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; max-width: 330px; margin-right: auto; margin-left: auto; }

.hHlofd { align-self: center; width: calc(100% + 30px); max-width: 800px; margin-right: -15px; margin-left: -15px; }

.fUpCbi { margin-bottom: 20px; font-size: 24px; line-height: 145%; }

@media (min-width: 1025px) {
  .fUpCbi { margin-bottom: 40px; font-size: 32px; }
}

.iuSHHf { position: relative; width: 100%; margin-right: auto; margin-left: auto; padding: 10px 15px; background-color: rgb(234, 238, 247); }

@media (min-width: 1025px) {
  .iuSHHf { padding: 20px 30px; }
}

.drKpBb { width: 100%; padding-top: 20px; padding-bottom: 20px; font-size: 12px; line-height: 140%; text-align: center; color: rgb(79, 79, 79); }

.fYAeIu { height: 62px; }

.msekF { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; max-width: unset; margin-bottom: 40px; padding: 0px; box-sizing: border-box; }

@media (min-width: 1025px) {
  .msekF { margin-bottom: 80px; padding: 0px; }
}

.fJzcRx { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; max-width: 540px; margin-bottom: 40px; padding: 0px 15px; box-sizing: border-box; }

@media (min-width: 1025px) {
  .fJzcRx { margin-bottom: 80px; padding: 0px; }
}

.fQDqBx { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; max-width: unset; margin-bottom: 40px; padding: 0px 15px; box-sizing: border-box; }

@media (min-width: 1025px) {
  .fQDqBx { margin-bottom: 80px; padding: 0px; }
}

.jhAcSV { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; max-width: 540px; margin-bottom: 20px; padding: 0px 15px; box-sizing: border-box; }

@media (min-width: 1025px) {
  .jhAcSV { margin-bottom: 20px; padding: 0px; }
}

@-webkit-keyframes bMEwlO { 
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes bMEwlO { 
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes crkuMt { 
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0px); }
}

@keyframes crkuMt { 
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0px); }
}

@-webkit-keyframes dLdeSz { 
  0% { transform: scale(0.9); }
  70% { transform: scale(1); box-shadow: rgba(153, 116, 246, 0.2) 0px 0px 0px 4px; }
  100% { transform: scale(0.9); box-shadow: rgba(153, 116, 246, 0.2) 0px 0px 0px 0px; }
}

@keyframes dLdeSz { 
  0% { transform: scale(0.9); }
  70% { transform: scale(1); box-shadow: rgba(153, 116, 246, 0.2) 0px 0px 0px 4px; }
  100% { transform: scale(0.9); box-shadow: rgba(153, 116, 246, 0.2) 0px 0px 0px 0px; }
}

@-webkit-keyframes epmXAj { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes epmXAj { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes jzfMP { 
  0% { stroke-dasharray: 1px, 200px; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -15px; }
  100% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -125px; }
}

@keyframes jzfMP { 
  0% { stroke-dasharray: 1px, 200px; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -15px; }
  100% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -125px; }
}