<!DOCTYPE html>
<html lang="en" style="">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="cid:css-efb56886-416f-4a8b-9dab-e9b3e48a5564@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-6d660f32-f0a7-470c-bdcf-0fafcfee8061@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-a3c995b7-61af-416e-8b8e-052797c9d0e5@mhtml.blink" />
        <!--mui-inject-first-->
        <meta name="viewport" content="width=device-width">
        <title>ASTRALIZ</title>
        <meta property="og:title" content="ASTRALIZ">
        <meta name="trustpilot-one-time-domain-verification-id" content="ea688f7d-9420-4940-b046-f90ff48348a7">
        <meta name="facebook-domain-verification" content="ld6fauq8wysgqi8nxb014927mbq37x">
        <link href="https://appnebula.co/_next/static/media/sprite.de50d001cd51cb97.svg" rel="preload" as="image"
                type="image/svg+xml">
        <meta name="next-head-count" content="7">
        <link rel="icon" href="https://appnebula.co/favicon.png">
        <link rel="apple-touch-icon" href="https://appnebula.co/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link rel="preload" href="https://appnebula.co/_next/static/css/23640eedd496150a.css" as="style" crossorigin="">
        <link rel="stylesheet" href="https://appnebula.co/_next/static/css/23640eedd496150a.css" crossorigin=""
                data-n-g="">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;display=swap">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap">
        <link rel="prefetch" id="google-pay-prefetch-id" href="https://pay.google.com/gp/p/js/pay.js">
        <meta http-equiv="origin-trial"
                content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9">
        <link rel="stylesheet" href="quiz37-2_part2.css">
        <link rel="stylesheet" href="quiz37-2_part3.css">
        <link rel="stylesheet" href="quiz37-2_part19.css">
        <link rel="stylesheet" href="quiz37-2_part20.css">
        <link rel="stylesheet" href="quiz37-2_part21.css">
        <link rel="stylesheet" href="quiz37-2_part22.css">
        <link rel="stylesheet" type="text/css" href="quiz37-2_part50.css" />
        <link rel="stylesheet" type="text/css" href="quiz37-2_part51.css" />
        <link rel="stylesheet" type="text/css" href="quiz37-2_part48.css" />
        <link rel="stylesheet" type="text/css" href="quiz37-2_part49.css" />
        <link rel="stylesheet" type="text/css" href="quiz37-2_part2.css" />
        <link rel="stylesheet" type="text/css" href="quiz37-2_part3.css" />
</head>

<body data-new-gr-c-s-check-loaded="14.1207.0" data-gr-ext-installed="">
        <div id="__next">
                <div class="sc-e7f8dab0-0 fbEKfK">
                        <div class="sc-e7f8dab0-1 iyEYIv">
                                <div class="sc-e7f8dab0-2 kJzitJ">
                                        <div class="sc-e7f8dab0-3 bySgDj">
                                                <div class="sc-18c51f36-0 fHGGon"><svg height="18" aria-hidden="true"
                                                                width="16px"
                                                                class="sc-72d3801b-0 iIYHnr sc-18c51f36-1 lfkrpa">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#ASTRALIZ-small">
                                                                </use>
                                                        </svg><button
                                                                class="sc-7d2fef68-0 hcsPhS sc-18c51f36-2 eCueRJ"><svg
                                                                        aria-hidden="true" width="16px" height="16px"
                                                                        class="sc-72d3801b-0 iIYHnr sc-7d2fef68-1 eYZZcB">
                                                                        <use
                                                                                xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#arrow-simple">
                                                                        </use>
                                                                </svg></button><svg width="24" height="24"
                                                                aria-hidden="true"
                                                                class="sc-72d3801b-0 iIYHnr sc-ad655fb9-0 iUnoPQ">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#burger">
                                                                </use>
                                                        </svg></div>
                                                <div class="sc-ad2be78a-0 iNDIiZ"></div>
                                                <div class="sc-7018639c-0 lhEGFE">
                                                        <div class="sc-44ec20a-0 hHjEeM sc-7018639c-10 eHzgYe">
                                                                <div title="" role="button" aria-label="animation"
                                                                        tabindex="0"
                                                                        style="width: 230px; height: 191px; overflow: hidden; margin: 0px auto; outline: none;">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                viewBox="0 0 305 255" width="305"
                                                                                height="255"
                                                                                preserveAspectRatio="xMidYMid slice"
                                                                                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                                                                                <defs>
                                                                                        <clipPath
                                                                                                id="__lottie_element_1169">
                                                                                                <rect width="305"
                                                                                                        height="255"
                                                                                                        x="0" y="0">
                                                                                                </rect>
                                                                                        </clipPath>
                                                                                </defs>
                                                                                <g
                                                                                        clip-path="url(#__lottie_element_1169)">
                                                                                        <g transform="matrix(1,0,0,1,134.75,191.07400512695312)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,16.25,16.25)">
                                                                                                        <path fill="rgb(186,199,235)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M0,-16 C8.836999893188477,-16 16,-8.836999893188477 16,0 C16,8.836999893188477 8.836999893188477,16 0,16 C-8.836000442504883,16 -16,8.836999893188477 -16,0 C-16,-8.836999893188477 -8.836000442504883,-16 0,-16z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(0.9612616896629333,-0.27563735842704773,0.27563735842704773,0.9612616896629333,41.17677307128906,215.62908935546875)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,115.25,3.25)">
                                                                                                        <path fill="rgb(155,171,217)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M112,-3 C112,-3 -112,-3 -112,-3 C-113.65799713134766,-3 -115,-1.656999945640564 -115,0 C-115,1.656000018119812 -113.65799713134766,3 -112,3 C-112,3 112,3 112,3 C113.65499877929688,3 115,1.656000018119812 115,0 C115,-1.656999945640564 113.65499877929688,-3 112,-3z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,162.38702392578125,77.3608627319336)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,47.75,43.25)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M-22.11199951171875,-43 C-12.944999694824219,-42.999000549316406 -4.491000175476074,-38.0989990234375 0,-30.180999755859375 C4.492000102996826,-38.0989990234375 12.946999549865723,-42.999000549316406 22.11400032043457,-43 C36.132999420166016,-43 47.5,-30.115999221801758 47.5,-16.22599983215332 C47.5,18.65999984741211 0,43 0,43 C0,43 -47.5,18.65999984741211 -47.5,-16.22599983215332 C-47.5,-30.115999221801758 -36.132999420166016,-43 -22.11199951171875,-43z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,163.85800170898438,49.18299865722656)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,6.520999908447266,6.520999908447266)">
                                                                                                        <path fill="rgb(155,171,217)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M5.701000213623047,-0.5699999928474426 C2.861999988555908,-0.5699999928474426 0.5699999928474426,-2.861999988555908 0.5699999928474426,-5.699999809265137 C0.5699999928474426,-6.019999980926514 0.3199999928474426,-6.270999908447266 0.0010000000474974513,-6.270999908447266 C-0.3199999928474426,-6.270999908447266 -0.5699999928474426,-6.019999980926514 -0.5699999928474426,-5.699999809265137 C-0.5699999928474426,-2.861999988555908 -2.861999988555908,-0.5699999928474426 -5.699999809265137,-0.5699999928474426 C-6.019999980926514,-0.5699999928474426 -6.270999908447266,-0.3199999928474426 -6.270999908447266,0 C-6.270999908447266,0.3190000057220459 -6.019999980926514,0.5699999928474426 -5.699999809265137,0.5699999928474426 C-2.861999988555908,0.5699999928474426 -0.5699999928474426,2.8610000610351562 -0.5699999928474426,5.699999809265137 C-0.5699999928474426,6.019000053405762 -0.3199999928474426,6.270999908447266 0.0010000000474974513,6.270999908447266 C0.3199999928474426,6.270999908447266 0.5699999928474426,6.019000053405762 0.5699999928474426,5.699999809265137 C0.5699999928474426,2.8610000610351562 2.861999988555908,0.5699999928474426 5.701000213623047,0.5699999928474426 C6.019999980926514,0.5699999928474426 6.270999908447266,0.3190000057220459 6.270999908447266,0 C6.270999908447266,-0.3199999928474426 6.019999980926514,-0.5699999928474426 5.701000213623047,-0.5699999928474426z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(0.800000011920929,0,0,0.800000011920929,123.55280303955078,33.76640319824219)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,12.434000015258789,11.946999549865723)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M0.31200000643730164,-11.696999549865723 C0.31200000643730164,-11.696999549865723 -0.38100001215934753,-11.696999549865723 -0.38100001215934753,-11.696999549865723 C-0.7960000038146973,-11.696999549865723 -1.1419999599456787,-11.39799976348877 -1.1419999599456787,-10.998000144958496 C-1.4880000352859497,-6.306000232696533 -6.611000061035156,-1.5140000581741333 -11.491999626159668,-1.0809999704360962 C-11.871999740600586,-1.0479999780654907 -12.184000015258789,-0.7160000205039978 -12.184000015258789,-0.3490000069141388 C-12.184000015258789,-0.3490000069141388 -12.184000015258789,0.3490000069141388 -12.184000015258789,0.3490000069141388 C-12.184000015258789,0.7480000257492065 -11.871999740600586,1.0479999780654907 -11.456999778747559,1.0809999704360962 C-6.611000061035156,1.4140000343322754 -1.6619999408721924,6.238999843597412 -1.1419999599456787,10.930999755859375 C-1.1069999933242798,11.36400032043457 -0.7269999980926514,11.696999549865723 -0.24300000071525574,11.696999549865723 C-0.24300000071525574,11.696999549865723 0.24300000071525574,11.696999549865723 0.24300000071525574,11.696999549865723 C0.7269999980926514,11.696999549865723 1.1069999933242798,11.36400032043457 1.1430000066757202,10.89799976348877 C1.5579999685287476,5.639999866485596 5.953999996185303,1.315000057220459 11.42300033569336,1.0479999780654907 C11.871999740600586,1.0149999856948853 12.184000015258789,0.6819999814033508 12.184000015258789,0.24899999797344208 C12.184000015258789,0.24899999797344208 12.184000015258789,-0.3490000069141388 12.184000015258789,-0.3490000069141388 C12.184000015258789,-0.7820000052452087 11.838000297546387,-1.1150000095367432 11.42300033569336,-1.1490000486373901 C5.919000148773193,-1.4149999618530273 1.4880000352859497,-5.77400016784668 1.1430000066757202,-11.097999572753906 C1.0729999542236328,-11.39799976348877 0.7269999980926514,-11.696999549865723 0.31200000643730164,-11.696999549865723z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,39.97132110595703,107.24525451660156)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,22.292999267578125,45.856998443603516)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M13.413000106811523,-45.606998443603516 C8.647000312805176,-45.606998443603516 4.7829999923706055,-41.73899841308594 4.7829999923706055,-36.96799850463867 C4.7829999923706055,-36.71900177001953 4.796000003814697,-36.4739990234375 4.816999912261963,-36.23099899291992 C3.9630000591278076,-36.417999267578125 3.078000068664551,-36.518001556396484 2.1679999828338623,-36.518001556396484 C-4.670000076293945,-36.518001556396484 -10.211999893188477,-30.9689998626709 -10.211999893188477,-24.125 C-10.211999893188477,-22.591999053955078 -9.932000160217285,-21.125 -9.423999786376953,-19.768999099731445 C-15.741999626159668,-19.20800018310547 -20.695999145507812,-13.89799976348877 -20.695999145507812,-7.427999973297119 C-20.695999145507812,-3.321000099182129 -18.698999404907227,0.31700000166893005 -15.62600040435791,2.572999954223633 C-18.701000213623047,3.5899999141693115 -21.073999404907227,6.304999828338623 -21.489999771118164,9.737000465393066 C-22.042999267578125,14.29699993133545 -18.937000274658203,18.45800018310547 -14.479999542236328,19.27400016784668 C-15.864999771118164,21.332000732421875 -16.67300033569336,23.812999725341797 -16.67300033569336,26.48200035095215 C-16.67300033569336,33.619998931884766 -10.892999649047852,39.40700149536133 -3.76200008392334,39.40700149536133 C-1.4429999589920044,39.40700149536133 0.7310000061988831,38.790000915527344 2.61299991607666,37.71900177001953 C3.509999990463257,42.21699905395508 7.47599983215332,45.606998443603516 12.232000350952148,45.606998443603516 C17.649999618530273,45.606998443603516 22.042999267578125,41.20899963378906 22.042999267578125,35.7859992980957 C22.042999267578125,35.7859992980957 22.042999267578125,-36.96799850463867 22.042999267578125,-36.96799850463867 C22.042999267578125,-41.73899841308594 18.179000854492188,-45.606998443603516 13.413000106811523,-45.606998443603516z">
                                                                                                        </path>
                                                                                                </g>
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,27.79400062561035,66.31300354003906)">
                                                                                                        <path fill="rgb(192,204,237)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M6.118000030517578,-5.756999969482422 C5.836999893188477,-6.413000106811523 5.076000213623047,-6.718999862670898 4.419000148773193,-6.438000202178955 C2.438999891281128,-5.5929999351501465 0.8050000071525574,-4.086999893188477 -0.20200000703334808,-2.190999984741211 C-2.1459999084472656,-2.6500000953674316 -4.178999900817871,-2.4779999256134033 -6.051000118255615,-1.6779999732971191 C-6.709000110626221,-1.3969999551773071 -7.013999938964844,-0.6359999775886536 -6.734000205993652,0.020999999716877937 C-6.452000141143799,0.6800000071525574 -5.690999984741211,0.9819999933242798 -5.033999919891357,0.7009999752044678 C-3.3559999465942383,-0.01600000075995922 -1.5,-0.03500000014901161 0.19200000166893005,0.6430000066757202 C1.8849999904632568,1.3209999799728394 3.2100000381469727,2.617000102996826 3.9260001182556152,4.294000148773193 C4.104000091552734,4.711999893188477 4.242000102996826,5.144999980926514 4.333000183105469,5.585999965667725 C4.47599983215332,6.271999835968018 5.138000011444092,6.718999862670898 5.823999881744385,6.5980000495910645 C5.836999893188477,6.59499979019165 5.85099983215332,6.5920000076293945 5.864999771118164,6.589000225067139 C6.565000057220459,6.441999912261963 7.013999938964844,5.757999897003174 6.868000030517578,5.058000087738037 C6.742000102996826,4.449999809265137 6.552999973297119,3.8510000705718994 6.307000160217285,3.2760000228881836 C5.479000091552734,1.3350000381469727 4.053999900817871,-0.23499999940395355 2.2360000610351562,-1.2430000305175781 C2.9730000495910645,-2.490000009536743 4.09499979019165,-3.4830000400543213 5.435999870300293,-4.057000160217285 C6.0929999351501465,-4.336999893188477 6.39900016784668,-5.098999977111816 6.118000030517578,-5.756999969482422z">
                                                                                                        </path>
                                                                                                </g>
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,28.18899917602539,36.54499816894531)">
                                                                                                        <path fill="rgb(192,204,237)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M-0.8930000066757202,-0.8930000066757202 C-0.9049999713897705,-0.8679999709129333 -0.9169999957084656,-0.8429999947547913 -0.9300000071525574,-0.8199999928474426 C-1.590999960899353,0.49399998784065247 -1.9780000448226929,1.9609999656677246 -2.0290000438690186,3.506999969482422 C-2.0969998836517334,5.579999923706055 -1.5509999990463257,7.599999904632568 -0.45100000500679016,9.347999572753906 C-0.07000000029802322,9.95300006866455 -0.25,10.75100040435791 -0.8550000190734863,11.131999969482422 C-1.0700000524520874,11.267999649047852 -1.3079999685287476,11.331000328063965 -1.5440000295639038,11.331000328063965 C-1.9739999771118164,11.331000328063965 -2.3940000534057617,11.116999626159668 -2.6410000324249268,10.72700023651123 C-4.017000198364258,8.538999557495117 -4.701000213623047,6.014999866485596 -4.616000175476074,3.4230000972747803 C-4.561999797821045,1.7730000019073486 -4.198999881744385,0.19300000369548798 -3.5810000896453857,-1.2549999952316284 C-5.568999767303467,-3.7300000190734863 -6.603000164031982,-6.89300012588501 -6.432000160217285,-10.069999694824219 C-6.394000053405762,-10.784000396728516 -5.7789998054504395,-11.331000328063965 -5.070000171661377,-11.293000221252441 C-4.355999946594238,-11.255000114440918 -3.806999921798706,-10.645000457763672 -3.8459999561309814,-9.930999755859375 C-3.9639999866485596,-7.742000102996826 -3.367000102996826,-5.561999797821045 -2.184000015258789,-3.7330000400543213 C-0.5170000195503235,-6.043000221252441 1.9129999876022339,-7.791999816894531 4.811999797821045,-8.607999801635742 C5.5,-8.802000045776367 6.215000152587891,-8.402000427246094 6.408999919891357,-7.714000225067139 C6.603000164031982,-7.026000022888184 6.202000141143799,-6.310999870300293 5.513999938964844,-6.117000102996826 C2.6679999828338623,-5.315999984741211 0.3889999985694885,-3.3910000324249268 -0.8930000066757202,-0.8930000066757202z">
                                                                                                        </path>
                                                                                                </g>
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,67.78199768066406,45.856998443603516)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M-13.413000106811523,-45.606998443603516 C-8.647000312805176,-45.606998443603516 -4.7829999923706055,-41.73899841308594 -4.7829999923706055,-36.96799850463867 C-4.7829999923706055,-36.71900177001953 -4.796000003814697,-36.4739990234375 -4.816999912261963,-36.23099899291992 C-3.9630000591278076,-36.417999267578125 -3.078000068664551,-36.518001556396484 -2.1679999828338623,-36.518001556396484 C4.669000148773193,-36.518001556396484 10.211999893188477,-30.9689998626709 10.211999893188477,-24.125 C10.211999893188477,-22.591999053955078 9.932000160217285,-21.125 9.423999786376953,-19.768999099731445 C15.741000175476074,-19.20800018310547 20.695999145507812,-13.89799976348877 20.695999145507812,-7.427999973297119 C20.695999145507812,-3.321000099182129 18.698999404907227,0.31700000166893005 15.62600040435791,2.572999954223633 C18.701000213623047,3.5899999141693115 21.073999404907227,6.304999828338623 21.489999771118164,9.737000465393066 C22.042999267578125,14.29699993133545 18.937000274658203,18.45800018310547 14.479999542236328,19.27400016784668 C15.864999771118164,21.332000732421875 16.67300033569336,23.812999725341797 16.67300033569336,26.48200035095215 C16.67300033569336,33.619998931884766 10.892999649047852,39.40700149536133 3.76200008392334,39.40700149536133 C1.4429999589920044,39.40700149536133 -0.7310000061988831,38.790000915527344 -2.61299991607666,37.71900177001953 C-3.510999917984009,42.21699905395508 -7.47599983215332,45.606998443603516 -12.232000350952148,45.606998443603516 C-17.649999618530273,45.606998443603516 -22.042999267578125,41.20899963378906 -22.042999267578125,35.7859992980957 C-22.042999267578125,35.7859992980957 -22.042999267578125,-36.96799850463867 -22.042999267578125,-36.96799850463867 C-22.042999267578125,-41.73899841308594 -18.179000854492188,-45.606998443603516 -13.413000106811523,-45.606998443603516z">
                                                                                                        </path>
                                                                                                </g>
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,62.28200149536133,66.31300354003906)">
                                                                                                        <path fill="rgb(192,204,237)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M-6.117000102996826,-5.756999969482422 C-5.835999965667725,-6.413000106811523 -5.076000213623047,-6.718999862670898 -4.419000148773193,-6.438000202178955 C-2.438999891281128,-5.5929999351501465 -0.8059999942779541,-4.086999893188477 0.20100000500679016,-2.190999984741211 C2.1449999809265137,-2.6500000953674316 4.178999900817871,-2.4779999256134033 6.051000118255615,-1.6779999732971191 C6.709000110626221,-1.3969999551773071 7.013999938964844,-0.6359999775886536 6.734000205993652,0.020999999716877937 C6.453000068664551,0.6800000071525574 5.690000057220459,0.9819999933242798 5.0329999923706055,0.7009999752044678 C3.3550000190734863,-0.01600000075995922 1.4989999532699585,-0.03500000014901161 -0.19300000369548798,0.6430000066757202 C-1.8860000371932983,1.3209999799728394 -3.2100000381469727,2.617000102996826 -3.9260001182556152,4.294000148773193 C-4.104000091552734,4.711999893188477 -4.242000102996826,5.144999980926514 -4.333000183105469,5.585999965667725 C-4.47599983215332,6.271999835968018 -5.138000011444092,6.718999862670898 -5.823999881744385,6.5980000495910645 C-5.836999893188477,6.59499979019165 -5.85099983215332,6.5920000076293945 -5.864999771118164,6.589000225067139 C-6.565000057220459,6.441999912261963 -7.013000011444092,5.757999897003174 -6.867000102996826,5.058000087738037 C-6.741000175476074,4.449999809265137 -6.552999973297119,3.8510000705718994 -6.307000160217285,3.2760000228881836 C-5.479000091552734,1.3350000381469727 -4.053999900817871,-0.23499999940395355 -2.2360000610351562,-1.2430000305175781 C-2.9730000495910645,-2.490000009536743 -4.09499979019165,-3.4830000400543213 -5.435999870300293,-4.057000160217285 C-6.093999862670898,-4.336999893188477 -6.3979997634887695,-5.098999977111816 -6.117000102996826,-5.756999969482422z">
                                                                                                        </path>
                                                                                                </g>
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,61.88600158691406,36.54499816894531)">
                                                                                                        <path fill="rgb(192,204,237)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M0.8930000066757202,-0.8930000066757202 C0.9049999713897705,-0.8679999709129333 0.9169999957084656,-0.8429999947547913 0.9300000071525574,-0.8199999928474426 C1.590999960899353,0.49399998784065247 1.9780000448226929,1.9609999656677246 2.0290000438690186,3.506999969482422 C2.0969998836517334,5.579999923706055 1.5509999990463257,7.599999904632568 0.45100000500679016,9.347999572753906 C0.07000000029802322,9.95300006866455 0.25,10.75100040435791 0.8550000190734863,11.131999969482422 C1.0700000524520874,11.267999649047852 1.3079999685287476,11.331000328063965 1.5440000295639038,11.331000328063965 C1.9739999771118164,11.331000328063965 2.3940000534057617,11.116999626159668 2.6410000324249268,10.72700023651123 C4.017000198364258,8.538999557495117 4.701000213623047,6.014999866485596 4.616000175476074,3.4230000972747803 C4.561999797821045,1.7730000019073486 4.198999881744385,0.19300000369548798 3.5810000896453857,-1.2549999952316284 C5.568999767303467,-3.7300000190734863 6.603000164031982,-6.89300012588501 6.432000160217285,-10.069999694824219 C6.394000053405762,-10.784000396728516 5.7789998054504395,-11.331000328063965 5.070000171661377,-11.293000221252441 C4.355999946594238,-11.255000114440918 3.806999921798706,-10.645000457763672 3.8459999561309814,-9.930999755859375 C3.9639999866485596,-7.742000102996826 3.367000102996826,-5.561999797821045 2.184000015258789,-3.7330000400543213 C0.5170000195503235,-6.043000221252441 -1.9129999876022339,-7.791999816894531 -4.811999797821045,-8.607999801635742 C-5.5,-8.802000045776367 -6.215000152587891,-8.402000427246094 -6.408999919891357,-7.714000225067139 C-6.603000164031982,-7.026000022888184 -6.202000141143799,-6.310999870300293 -5.513999938964844,-6.117000102996826 C-2.6679999828338623,-5.315999984741211 -0.3889999985694885,-3.3910000324249268 0.8930000066757202,-0.8930000066757202z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                </g>
                                                                        </svg>
                                                                </div>
                                                        </div>
                                                        <div class="sc-7018639c-2 cdVxhG"></div>
                                                        <h2 class="sc-7018639c-4 dlELSm">Based on our data, 39% of
                                                                <span>
                                                                        <%= sign %>
                                                                </span> also make decisions with their
                                                                heads. We'll consider that while creating your guidance
                                                                plan.
                                                        </h2>
                                                        <p class="sc-7018639c-1 ceftWW"></p>
                                                </div>
                                                <div class="sc-7018639c-3 gkBUpQ"><button
                                                                onclick="window.location.href='/quiz36'"
                                                                class="sc-4df64fe9-1 ijTvND sc-19309a12-4 sc-19309a12-6 sc-7018639c-9 cSXblN eJznWK hmZdam"
                                                                type="button"><span
                                                                        class="sc-4df64fe9-2 jINEEK">Back</span></button><button
                                                                onclick="window.location.href='/quiz38'"
                                                                class="sc-4df64fe9-1 ubMHW sc-19309a12-4 sc-19309a12-6 sc-7018639c-8 cSXblN eJznWK dRYLFt"
                                                                type="button"><span
                                                                        class="sc-4df64fe9-2 jINEEK">Next</span></button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div><next-route-announcer>
                <p aria-live="assertive" id="__next-route-announcer__" role="alert"
                        style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;">
                        ASTRALIZ</p>
        </next-route-announcer>





        <iframe allow="join-ad-interest-group" data-tagging-id="AW-581615388/ycbGCIm5nMgCEJz-qpUC"
                data-load-time="1732130663306" height="0" width="0"
                src="cid:frame-D4C0CD153399F2AADEE07193F064CE78@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe height="0" width="0"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="AW-10813984679/6WgrCJ6i3vEYEKefwaQo" data-load-time="1732130663366" height="0"
                width="0" src="cid:frame-87121B994A6DCBD42978B2E72855467A@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe data-product="web_widget" title="No content"
                role="presentation" tabindex="-1" allow="microphone *" aria-hidden="true"
                src="cid:frame-FD3ED6F85CCF58F50F18FDDB0DE81886@mhtml.blink"
                style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;"></iframe><iframe
                id="snap4148129" src="cid:frame-C27BC82F9A5C740F93DA24DF399CB6EF@mhtml.blink"
                style="display: none !important; height: 1px !important; overflow: hidden !important; position: absolute !important; width: 1px !important;"></iframe><img
                src="https://t.co/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                height="1" width="1" style="display: none;"><img
                src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                height="1" width="1" style="display: none;">
        <div style="visibility: visible;">
                <div></div>
                <div></div>
        </div><iframe allow="join-ad-interest-group" data-tagging-id="G-0CNEN2SNEX" data-load-time="1732130663646"
                height="0" width="0" src="cid:frame-78BFA448E417428FAD47A5C32840631F@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe>
        <div id="onetrust-consent-sdk">
                <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
                <div id="onetrust-pc-sdk" class="otPcCenter ot-hide ot-fade-in" lang="en" aria-label="Preference center"
                        role="region">
                        <div role="alertdialog" aria-modal="true" aria-describedby="ot-pc-desc" style="height: 100%;"
                                aria-label="Privacy Preference Center"><!-- Close Button -->
                                <div class="ot-pc-header"><!-- Logo Tag -->
                                        <div class="ot-pc-logo" role="img" aria-label="Company Logo"><img
                                                        alt="Company Logo"
                                                        src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png">
                                        </div><button id="close-pc-btn-handler" class="ot-close-icon" aria-label="Close"
                                                style="background-image: url(&quot;https://cdn.cookielaw.org/logos/static/ot_close.svg&quot;);"></button>
                                </div><!-- Close Button -->
                                <div id="ot-pc-content" class="ot-pc-scrollbar">
                                        <div class="ot-optout-signal ot-hide">
                                                <div class="ot-optout-icon"><svg xmlns="http://www.w3.org/2000/svg">
                                                                <path class="ot-floating-button__svg-fill"
                                                                        d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z"
                                                                        fill="#FFF" fill-rule="evenodd"></path>
                                                        </svg></div><span></span>
                                        </div>
                                        <h2 id="ot-pc-title">Privacy Preference Center</h2>
                                        <div id="ot-pc-desc">When you visit any website, it may store or retrieve
                                                information on your browser, mostly in the form of cookies. This
                                                information might be about you, your preferences or your device and is
                                                mostly used to make the site work as you expect it to. The information
                                                does not usually directly identify you, but it can give you a more
                                                personalized web experience. Because we respect your right to privacy,
                                                you can choose not to allow some types of cookies. Click on the
                                                different category headings to find out more and change our default
                                                settings. However, blocking some types of cookies may impact your
                                                experience of the site and the services we are able to offer.
                                                <br><a href="https://cookiepedia.co.uk/giving-consent-to-cookies"
                                                        class="privacy-notice-link" rel="noopener" target="_blank"
                                                        aria-label="More information about your privacy, opens in a new tab">More
                                                        information</a>
                                        </div><button id="accept-recommended-btn-handler">Allow All</button>
                                        <section class="ot-sdk-row ot-cat-grp">
                                                <h3 id="ot-category-title"> Manage Consent Preferences</h3>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0003"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0003"
                                                                aria-labelledby="ot-header-id-C0003 ot-status-id-C0003"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0003">
                                                                        Functional Cookies</h4>
                                                                <div id="ot-status-id-C0003" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0003">These cookies enable the
                                                                        website to provide enhanced functionality and
                                                                        personalisation. They may be set by us or by
                                                                        third party providers whose services we have
                                                                        added to our pages. If you do not allow these
                                                                        cookies then some or all of these services may
                                                                        not function properly.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0002"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0002"
                                                                aria-labelledby="ot-header-id-C0002 ot-status-id-C0002"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0002">
                                                                        Performance Cookies</h4>
                                                                <div id="ot-status-id-C0002" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0002">These cookies allow us to
                                                                        count visits and traffic sources so we can
                                                                        measure and improve the performance of our site.
                                                                        They help us to know which pages are the most
                                                                        and least popular and see how visitors move
                                                                        around the site. All information these cookies
                                                                        collect is aggregated and therefore anonymous.
                                                                        If you do not allow these cookies we will not
                                                                        know when you have visited our site, and will
                                                                        not be able to monitor its performance.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0004"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0004"
                                                                aria-labelledby="ot-header-id-C0004 ot-status-id-C0004"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0004">
                                                                        Targeting Cookies</h4>
                                                                <div id="ot-status-id-C0004" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0004">These cookies may be set
                                                                        through our site by our advertising partners.
                                                                        They may be used by those companies to build a
                                                                        profile of your interests and show you relevant
                                                                        adverts on other sites. They do not store
                                                                        directly personal information, but are based on
                                                                        uniquely identifying your browser and internet
                                                                        device. If you do not allow these cookies, you
                                                                        will experience less targeted advertising.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0001"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0001"
                                                                aria-labelledby="ot-header-id-C0001 ot-status-id-C0001"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0001">
                                                                        Strictly Necessary Cookies</h4>
                                                                <div id="ot-status-id-C0001" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0001">These cookies are
                                                                        necessary for the website to function and cannot
                                                                        be switched off in our systems. They are usually
                                                                        only set in response to actions made by you
                                                                        which amount to a request for services, such as
                                                                        setting your privacy preferences, logging in or
                                                                        filling in forms. You can set your browser to
                                                                        block or alert you about these cookies, but some
                                                                        parts of the site will not then work. These
                                                                        cookies do not store any personally identifiable
                                                                        information.</p>
                                                        </div>
                                                </div>
                                                <!-- Groups sections starts --><!-- Group section ends --><!-- Accordion Group section starts --><!-- Accordion Group section ends -->
                                        </section>
                                </div>
                                <section id="ot-pc-lst" class="ot-hide ot-hosts-ui ot-pc-scrollbar">
                                        <div id="ot-pc-hdr">
                                                <div id="ot-lst-title"><button class="ot-link-btn back-btn-handler"
                                                                aria-label="Back"><svg id="ot-back-arw"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        x="0px" y="0px" viewBox="0 0 444.531 444.531"
                                                                        xml:space="preserve">
                                                                        <title>Back Button</title>
                                                                        <g>
                                                                                <path fill="#656565" d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                    l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                    c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                    s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                    L213.13,222.409z"></path>
                                                                        </g>
                                                                </svg></button>
                                                        <h3>Cookie List</h3>
                                                </div>
                                                <div class="ot-lst-subhdr">
                                                        <div class="ot-search-cntr">
                                                                <p role="status" class="ot-scrn-rdr"></p><input
                                                                        id="vendor-search-handler" type="text"
                                                                        name="vendor-search-handler"
                                                                        placeholder="Search"
                                                                        aria-label="Cookie list search"> <svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        x="0px" y="0px" viewBox="0 -30 110 110"
                                                                        aria-hidden="true">
                                                                        <title>Search Icon</title>
                                                                        <path fill="#2e3644" d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
            s-17-7.626-17-17S14.61,6,23.984,6z"></path>
                                                                </svg>
                                                        </div>
                                                        <div class="ot-fltr-cntr"><button id="filter-btn-handler"
                                                                        aria-label="Filter" aria-haspopup="true"><svg
                                                                                role="presentation" aria-hidden="true"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                x="0px" y="0px"
                                                                                viewBox="0 0 402.577 402.577"
                                                                                xml:space="preserve">
                                                                                <title>Filter Icon</title>
                                                                                <g>
                                                                                        <path fill="#fff" d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
      c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
      c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
      C402.765,25.895,404.093,19.231,400.858,11.427z"></path>
                                                                                </g>
                                                                        </svg></button></div>
                                                        <div id="ot-anchor"></div>
                                                        <section id="ot-fltr-modal">
                                                                <div id="ot-fltr-cnt"><button
                                                                                id="clear-filters-handler">Clear</button>
                                                                        <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                                                                                <div class="ot-fltr-opts">
                                                                                        <div class="ot-fltr-opt">
                                                                                                <div class="ot-chkbox">
                                                                                                        <input id="chkbox-id"
                                                                                                                type="checkbox"
                                                                                                                class="category-filter-handler">
                                                                                                        <label
                                                                                                                for="chkbox-id"><span
                                                                                                                        class="ot-label-txt">checkbox
                                                                                                                        label</span></label>
                                                                                                        <span
                                                                                                                class="ot-label-status">label</span>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="ot-fltr-btns"><button
                                                                                                id="filter-apply-handler">Apply</button>
                                                                                        <button
                                                                                                id="filter-cancel-handler">Cancel</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </section>
                                                </div>
                                        </div>
                                        <section id="ot-lst-cnt" class="ot-host-cnt ot-pc-scrollbar">
                                                <div id="ot-sel-blk">
                                                        <div class="ot-sel-all">
                                                                <div class="ot-sel-all-hdr"><span
                                                                                class="ot-consent-hdr">Consent</span>
                                                                        <span class="ot-li-hdr">Leg.Interest</span>
                                                                </div>
                                                                <div class="ot-sel-all-chkbox">
                                                                        <div class="ot-chkbox" id="ot-selall-hostcntr">
                                                                                <input id="select-all-hosts-groups-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-hosts-groups-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-vencntr">
                                                                                <input id="select-all-vendor-groups-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-vendor-groups-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-licntr">
                                                                                <input id="select-all-vendor-leg-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-vendor-leg-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="ot-sdk-row">
                                                        <div class="ot-sdk-column"></div>
                                                </div>
                                        </section>
                                </section>
                                <div class="ot-pc-footer ot-pc-scrollbar">
                                        <div class="ot-btn-container"><button class="ot-pc-refuse-all-handler">Reject
                                                        All</button> <button
                                                        class="save-preference-btn-handler onetrust-close-btn-handler">Confirm
                                                        My Choices</button></div><!-- Footer logo -->
                                        <div class="ot-pc-footer-logo"><a
                                                        href="https://www.onetrust.com/products/cookie-consent/"
                                                        target="_blank" rel="noopener noreferrer"
                                                        aria-label="Powered by OneTrust Opens in a new Tab"><img
                                                                alt="Powered by Onetrust"
                                                                src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
                                                                title="Powered by OneTrust Opens in a new Tab"></a>
                                        </div>
                                </div>
                                <!-- Cookie subgroup container --><!-- Vendor list link --><!-- Cookie lost link --><!-- Toggle HTML element --><!-- Checkbox HTML --><!-- plus minus--><!-- Arrow SVG element --><!-- Accordion basic element --><span
                                        class="ot-scrn-rdr" aria-atomic="true"
                                        aria-live="polite"></span><!-- Vendor Service container and item template -->
                        </div><iframe class="ot-text-resize" sandbox="allow-same-origin" title="onetrust-text-resize"
                                style="position: absolute; top: -50000px; width: 100em;" aria-hidden="true"></iframe>
                </div>
        </div><iframe allow="join-ad-interest-group" data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131929266"
                height="0" width="0" src="cid:frame-D5047B2A32AE7F0224C1B330079F39F3@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131992922" height="0" width="0"
                src="cid:frame-9D57FF7B917972D61FEA3949CBC43BD0@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132081715" height="0" width="0"
                src="cid:frame-262B68AA7E96CAE68582F940D103FFA8@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132160330" height="0" width="0"
                src="cid:frame-41D0009B0F1C9E973A1A5D7B77625470@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132237561" height="0" width="0"
                src="cid:frame-28B524128FD6B6EAD921E0D54B629015@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132299080" height="0" width="0"
                src="cid:frame-82851A4D3F2979A3DEB4CC5F53F2A9AA@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132364319" height="0" width="0"
                src="cid:frame-37E859E152B8CD62A76AAF45B059D373@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132429239" height="0" width="0"
                src="cid:frame-60905562CF12BE5F1D79230A551353BE@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132550668" height="0" width="0"
                src="cid:frame-A17ADA3739BBB603122E377136E56C80@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132612304" height="0" width="0"
                src="cid:frame-88253F050402F7A756F352523D501AE4@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowmode="open">
                <div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration"
                        data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}">
                </div>
        </template></grammarly-desktop-integration>

</html>