<!DOCTYPE html>
<html lang="en" style="">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="cid:css-063f6f14-f12b-4562-868a-1ded17836291@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-22fcb5af-d986-471d-b9c7-07610fbd5bab@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-2fdf3cee-f1a6-472d-a650-f42aaea255fe@mhtml.blink" />
        <!--mui-inject-first-->
        <meta name="viewport" content="width=device-width">
        <title>ASTRALIZ</title>
        <meta property="og:title" content="ASTRALIZ">
        <meta name="trustpilot-one-time-domain-verification-id" content="ea688f7d-9420-4940-b046-f90ff48348a7">
        <meta name="facebook-domain-verification" content="ld6fauq8wysgqi8nxb014927mbq37x">
        <link href="https://appnebula.co/_next/static/media/sprite.de50d001cd51cb97.svg" rel="preload" as="image"
                type="image/svg+xml">
        <meta name="next-head-count" content="7">
        <link rel="icon" href="https://appnebula.co/favicon.png">
        <link rel="apple-touch-icon" href="https://appnebula.co/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link rel="preload" href="https://appnebula.co/_next/static/css/23640eedd496150a.css" as="style" crossorigin="">
        <link rel="stylesheet" href="https://appnebula.co/_next/static/css/23640eedd496150a.css" crossorigin=""
                data-n-g="">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;display=swap">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap">
        <link rel="prefetch" id="google-pay-prefetch-id" href="https://pay.google.com/gp/p/js/pay.js">
        <meta http-equiv="origin-trial"
                content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9">
        <link rel="stylesheet" href="quiz34-3_part2.css">
        <link rel="stylesheet" href="quiz34-3_part3.css">
        <link rel="stylesheet" href="quiz34-3_part19.css">
        <link rel="stylesheet" href="quiz34-3_part20.css">
        <link rel="stylesheet" href="quiz34-3_part21.css">
        <link rel="stylesheet" href="quiz34-3_part22.css">
        <link rel="stylesheet" type="text/css" href="quiz34-3_part47.css" />
        <link rel="stylesheet" type="text/css" href="quiz34-3_part50.css" />
        <link rel="stylesheet" type="text/css" href="quiz34-3_part49.css" />
        <link rel="stylesheet" type="text/css" href="quiz34-3_part3.css" />
        <link rel="stylesheet" type="text/css" href="quiz34-3_part2.css" />
        <link rel="stylesheet" type="text/css" href="quiz34-3_part48.css" />
</head>

<body data-new-gr-c-s-check-loaded="14.1207.0" data-gr-ext-installed="">
        <div id="__next">
                <div class="sc-e7f8dab0-0 fbEKfK">
                        <div class="sc-e7f8dab0-1 iyEYIv">
                                <div class="sc-e7f8dab0-2 kJzitJ">
                                        <div class="sc-e7f8dab0-3 bySgDj">
                                                <div class="sc-18c51f36-0 fHGGon"><svg height="18" aria-hidden="true"
                                                                width="16px"
                                                                class="sc-72d3801b-0 iIYHnr sc-18c51f36-1 lfkrpa">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#ASTRALIZ-small">
                                                                </use>
                                                        </svg><button
                                                                class="sc-7d2fef68-0 hcsPhS sc-18c51f36-2 eCueRJ"><svg
                                                                        aria-hidden="true" width="16px" height="16px"
                                                                        class="sc-72d3801b-0 iIYHnr sc-7d2fef68-1 eYZZcB">
                                                                        <use
                                                                                xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#arrow-simple">
                                                                        </use>
                                                                </svg></button><svg width="24" height="24"
                                                                aria-hidden="true"
                                                                class="sc-72d3801b-0 iIYHnr sc-ad655fb9-0 iUnoPQ">
                                                                <use
                                                                        xlink:href="/_next/static/media/sprite.de50d001cd51cb97.svg#burger">
                                                                </use>
                                                        </svg></div>
                                                <div class="sc-ad2be78a-0 iNDIiZ"></div>
                                                <div class="sc-7018639c-0 lhEGFE">
                                                        <div class="sc-44ec20a-0 hHjEeM sc-7018639c-10 eHzgYe">
                                                                <div title="" role="button" aria-label="animation"
                                                                        tabindex="0"
                                                                        style="width: 206px; height: 168px; overflow: hidden; margin: 0px auto; outline: none;">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                viewBox="0 0 214 175" width="214"
                                                                                height="175"
                                                                                preserveAspectRatio="xMidYMid slice"
                                                                                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                                                                                <defs>
                                                                                        <clipPath
                                                                                                id="__lottie_element_1015">
                                                                                                <rect width="214"
                                                                                                        height="175"
                                                                                                        x="0" y="0">
                                                                                                </rect>
                                                                                        </clipPath>
                                                                                </defs>
                                                                                <g
                                                                                        clip-path="url(#__lottie_element_1015)">
                                                                                        <g transform="matrix(1,0,0,1,3.25,35.29900360107422)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,103.75,56.25)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M46.79100036621094,-41.7140007019043 C38.555999755859375,-50.505001068115234 26.832000732421875,-56 13.821999549865723,-56 C-7.665999889373779,-56 -25.634000778198242,-41.005001068115234 -30.179000854492188,-20.929000854492188 C-32.875999450683594,-21.82699966430664 -35.757999420166016,-22.320999145507812 -38.75600051879883,-22.320999145507812 C-47.98899841308594,-22.320999145507812 -56.13600158691406,-17.707000732421875 -61.02199935913086,-10.666999816894531 C-63.75,-11.369999885559082 -66.61000061035156,-11.748000144958496 -69.55899810791016,-11.748000144958496 C-88.30400085449219,-11.748000144958496 -103.5,3.4170000553131104 -103.5,22.125 C-103.5,40.832000732421875 -88.30400085449219,56 -69.55899810791016,56 C-69.55899810791016,56 -32.13600158691406,56 -32.13600158691406,56 C-32.13600158691406,56 86.3270034790039,54.97999954223633 86.3270034790039,54.97999954223633 C86.3270034790039,54.97999954223633 103.5,41 102.5,22.517000198364258 C101.5009994506836,4.051000118255615 87.4800033569336,-10.96399974822998 68.95099639892578,-10.96399974822998 C65.4520034790039,-10.96399974822998 62.07899856567383,-10.428999900817871 58.90700149536133,-9.437000274658203 C58.92300033569336,-9.944000244140625 58.94599914550781,-10.45300006866455 58.94599914550781,-10.96399974822998 C58.94599914550781,-18.527000427246094 57.077999114990234,-25.652000427246094 53.777000427246094,-31.90999984741211">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,174.7209930419922,9.046000480651855)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,10.647000312805176,10.647000312805176)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M9.45300006866455,-0.9459999799728394 C4.745999813079834,-0.9459999799728394 0.9449999928474426,-4.744999885559082 0.9449999928474426,-9.45199966430664 C0.9449999928474426,-9.982000350952148 0.5299999713897705,-10.39799976348877 0.0010000000474974513,-10.39799976348877 C-0.527999997138977,-10.39799976348877 -0.9449999928474426,-9.982000350952148 -0.9449999928474426,-9.45199966430664 C-0.9449999928474426,-4.744999885559082 -4.744999885559082,-0.9459999799728394 -9.45199966430664,-0.9459999799728394 C-9.982000350952148,-0.9459999799728394 -10.39799976348877,-0.5299999713897705 -10.39799976348877,-0.0010000000474974513 C-10.39799976348877,0.5289999842643738 -9.982000350952148,0.9449999928474426 -9.45199966430664,0.9449999928474426 C-4.744999885559082,0.9449999928474426 -0.9449999928474426,4.744999885559082 -0.9449999928474426,9.45199966430664 C-0.9449999928474426,9.982000350952148 -0.527999997138977,10.39799976348877 0.0010000000474974513,10.39799976348877 C0.5299999713897705,10.39799976348877 0.9449999928474426,9.982000350952148 0.9449999928474426,9.45199966430664 C0.9449999928474426,4.744999885559082 4.745999813079834,0.9449999928474426 9.45300006866455,0.9449999928474426 C9.982000350952148,0.9449999928474426 10.39799976348877,0.5289999842643738 10.39799976348877,-0.0010000000474974513 C10.39799976348877,-0.5299999713897705 9.982000350952148,-0.9459999799728394 9.45300006866455,-0.9459999799728394z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,127.71699523925781,3.543999671936035)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,8.161999702453613,8.161999702453613)">
                                                                                                        <path fill="rgb(155,171,217)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M7.192999839782715,-0.7200000286102295 C3.6110000610351562,-0.7200000286102295 0.7179999947547913,-3.611999988555908 0.7179999947547913,-7.192999839782715 C0.7179999947547913,-7.5960001945495605 0.40299999713897705,-7.910999774932861 0.0010000000474974513,-7.910999774932861 C-0.40299999713897705,-7.910999774932861 -0.718999981880188,-7.5960001945495605 -0.718999981880188,-7.192999839782715 C-0.718999981880188,-3.611999988555908 -3.611999988555908,-0.7200000286102295 -7.192999839782715,-0.7200000286102295 C-7.59499979019165,-0.7200000286102295 -7.9120001792907715,-0.40400001406669617 -7.9120001792907715,-0.0010000000474974513 C-7.9120001792907715,0.4020000100135803 -7.59499979019165,0.718999981880188 -7.192999839782715,0.718999981880188 C-3.611999988555908,0.718999981880188 -0.718999981880188,3.609999895095825 -0.718999981880188,7.190999984741211 C-0.718999981880188,7.593999862670898 -0.40299999713897705,7.910999774932861 0.0010000000474974513,7.910999774932861 C0.40299999713897705,7.910999774932861 0.7179999947547913,7.593999862670898 0.7179999947547913,7.190999984741211 C0.7179999947547913,3.609999895095825 3.6110000610351562,0.718999981880188 7.192999839782715,0.718999981880188 C7.59499979019165,0.718999981880188 7.9120001792907715,0.4020000100135803 7.9120001792907715,-0.0010000000474974513 C7.9120001792907715,-0.40400001406669617 7.59499979019165,-0.7200000286102295 7.192999839782715,-0.7200000286102295z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,3.25,43.073997497558594)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,13.343999862670898,13.343999862670898)">
                                                                                                        <path fill="rgb(222,227,248)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M11.904000282287598,-1.190999984741211 C5.97599983215332,-1.190999984741211 1.190999984741211,-5.97599983215332 1.190999984741211,-11.904000282287598 C1.190999984741211,-12.569999694824219 0.6679999828338623,-13.093999862670898 0.0010000000474974513,-13.093999862670898 C-0.6660000085830688,-13.093999862670898 -1.1890000104904175,-12.569999694824219 -1.1890000104904175,-11.904000282287598 C-1.1890000104904175,-5.97599983215332 -5.97599983215332,-1.190999984741211 -11.904000282287598,-1.190999984741211 C-12.571000099182129,-1.190999984741211 -13.093999862670898,-0.6679999828338623 -13.093999862670898,-0.0010000000474974513 C-13.093999862670898,0.6660000085830688 -12.571000099182129,1.190999984741211 -11.904000282287598,1.190999984741211 C-5.97599983215332,1.190999984741211 -1.1890000104904175,5.97599983215332 -1.1890000104904175,11.904000282287598 C-1.1890000104904175,12.571000099182129 -0.6660000085830688,13.093999862670898 0.0010000000474974513,13.093999862670898 C0.6679999828338623,13.093999862670898 1.190999984741211,12.571000099182129 1.190999984741211,11.904000282287598 C1.190999984741211,5.97599983215332 5.97599983215332,1.190999984741211 11.904000282287598,1.190999984741211 C12.571000099182129,1.190999984741211 13.093999862670898,0.6660000085830688 13.093999862670898,-0.0010000000474974513 C13.093999862670898,-0.6679999828338623 12.571000099182129,-1.190999984741211 11.904000282287598,-1.190999984741211z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                        <g transform="matrix(1,0,0,1,75.25,101.27400207519531)"
                                                                                                opacity="1"
                                                                                                style="display: block;">
                                                                                                <g opacity="1"
                                                                                                        transform="matrix(1,0,0,1,64.25,35.25)">
                                                                                                        <path fill="rgb(245,247,251)"
                                                                                                                fill-opacity="1"
                                                                                                                d=" M42.909000396728516,-7.3429999351501465 C41.07699966430664,-7.3429999351501465 39.29899978637695,-7.109000205993652 37.60499954223633,-6.665999889373779 C34.569000244140625,-11.069000244140625 29.506000518798828,-13.949999809265137 23.76799964904785,-13.949999809265137 C21.9060001373291,-13.949999809265137 20.117000579833984,-13.642999649047852 18.44099998474121,-13.081000328063965 C15.616999626159668,-25.62700080871582 4.452000141143799,-35 -8.902000427246094,-35 C-24.384000778198242,-35 -36.9370002746582,-22.399999618530273 -36.9370002746582,-6.854000091552734 C-36.9370002746582,-6.5320000648498535 -36.92300033569336,-6.216000080108643 -36.91400146484375,-5.900000095367432 C-38.88399887084961,-6.519000053405762 -40.98099899291992,-6.854000091552734 -43.154998779296875,-6.854000091552734 C-54.66699981689453,-6.854000091552734 -64,2.513000011444092 -64,14.074000358581543 C-64,25.631999969482422 -54.66699981689453,35 -43.154998779296875,35 C-43.154998779296875,35 19.256999969482422,35 19.256999969482422,35 C19.256999969482422,35 30.840999603271484,35 30.840999603271484,35 C30.840999603271484,35 42.909000396728516,35 42.909000396728516,35 C54.55500030517578,35 64,25.520000457763672 64,13.82800006866455 C63.999000549316406,2.135999917984009 54.55500030517578,-7.3429999351501465 42.909000396728516,-7.3429999351501465z">
                                                                                                        </path>
                                                                                                </g>
                                                                                        </g>
                                                                                </g>
                                                                        </svg>
                                                                </div>
                                                        </div>
                                                        <div class="sc-7018639c-2 cdVxhG"></div>
                                                        <h2 class="sc-7018639c-4 dlELSm">It’s totally normal to feel
                                                                nervous,<br><span>
                                                                        <%=sign%>
                                                                </span>.</h2>
                                                        <p class="sc-7018639c-1 ceftWW">But we know you can do this.
                                                                Let’s keep going and build a guidance plan based on your
                                                                astrological blueprint.</p>
                                                </div>
                                                <div class="sc-7018639c-3 gkBUpQ"><button
                                                                onclick="window.location.href='/quiz33';"
                                                                class="sc-4df64fe9-1 ijTvND sc-19309a12-4 sc-19309a12-6 sc-7018639c-9 cSXblN eJznWK hmZdam"
                                                                type="button"><span
                                                                        class="sc-4df64fe9-2 jINEEK">Back</span></button><button
                                                                onclick="window.location.href='/quiz35';"
                                                                class="sc-4df64fe9-1 ubMHW sc-19309a12-4 sc-19309a12-6 sc-7018639c-8 cSXblN eJznWK dRYLFt"
                                                                type="button"><span
                                                                        class="sc-4df64fe9-2 jINEEK">Next</span></button>
                                                </div><span aria-label="🙂" width="40" height="40"
                                                        class="sc-e5cbfa94-0 ilouuX sc-561ee9c5-0 eISuFp"></span><span
                                                        aria-label="😕" width="40" height="40"
                                                        class="sc-e5cbfa94-0 dzcDAl sc-561ee9c5-0 eISuFp"></span>
                                        </div>
                                </div>
                        </div>
                </div>
        </div><next-route-announcer>
                <p aria-live="assertive" id="__next-route-announcer__" role="alert"
                        style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;">
                        ASTRALIZ</p>
        </next-route-announcer>





        <iframe allow="join-ad-interest-group" data-tagging-id="AW-581615388/ycbGCIm5nMgCEJz-qpUC"
                data-load-time="1732130663306" height="0" width="0"
                src="cid:frame-D4C0CD153399F2AADEE07193F064CE78@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe height="0" width="0"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="AW-10813984679/6WgrCJ6i3vEYEKefwaQo" data-load-time="1732130663366" height="0"
                width="0" src="cid:frame-87121B994A6DCBD42978B2E72855467A@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe data-product="web_widget" title="No content"
                role="presentation" tabindex="-1" allow="microphone *" aria-hidden="true"
                src="cid:frame-FD3ED6F85CCF58F50F18FDDB0DE81886@mhtml.blink"
                style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;"></iframe><iframe
                id="snap4148129" src="cid:frame-C27BC82F9A5C740F93DA24DF399CB6EF@mhtml.blink"
                style="display: none !important; height: 1px !important; overflow: hidden !important; position: absolute !important; width: 1px !important;"></iframe><img
                src="https://t.co/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                height="1" width="1" style="display: none;"><img
                src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=America%2FSao_Paulo%26en-US%2Cen%2Cpt%26Google%20Inc.%26MacIntel%26127%261920%261080%268%2624%261920%261013%260%26na&amp;eci=2&amp;event_id=45e5c7b8-12ff-45dd-81da-40f95d2c7321&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=b48945c6-5359-49fa-bfa9-7c2eeccc0bc3&amp;tw_document_href=https%3A%2F%2Fappnebula.co%2F&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o5yhw&amp;type=javascript&amp;version=2.3.31"
                height="1" width="1" style="display: none;">
        <div style="visibility: visible;">
                <div></div>
                <div></div>
        </div><iframe allow="join-ad-interest-group" data-tagging-id="G-0CNEN2SNEX" data-load-time="1732130663646"
                height="0" width="0" src="cid:frame-78BFA448E417428FAD47A5C32840631F@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe>
        <div id="onetrust-consent-sdk">
                <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
                <div id="onetrust-pc-sdk" class="otPcCenter ot-hide ot-fade-in" lang="en" aria-label="Preference center"
                        role="region">
                        <div role="alertdialog" aria-modal="true" aria-describedby="ot-pc-desc" style="height: 100%;"
                                aria-label="Privacy Preference Center"><!-- Close Button -->
                                <div class="ot-pc-header"><!-- Logo Tag -->
                                        <div class="ot-pc-logo" role="img" aria-label="Company Logo"><img
                                                        alt="Company Logo"
                                                        src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png">
                                        </div><button id="close-pc-btn-handler" class="ot-close-icon" aria-label="Close"
                                                style="background-image: url(&quot;https://cdn.cookielaw.org/logos/static/ot_close.svg&quot;);"></button>
                                </div><!-- Close Button -->
                                <div id="ot-pc-content" class="ot-pc-scrollbar">
                                        <div class="ot-optout-signal ot-hide">
                                                <div class="ot-optout-icon"><svg xmlns="http://www.w3.org/2000/svg">
                                                                <path class="ot-floating-button__svg-fill"
                                                                        d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z"
                                                                        fill="#FFF" fill-rule="evenodd"></path>
                                                        </svg></div><span></span>
                                        </div>
                                        <h2 id="ot-pc-title">Privacy Preference Center</h2>
                                        <div id="ot-pc-desc">When you visit any website, it may store or retrieve
                                                information on your browser, mostly in the form of cookies. This
                                                information might be about you, your preferences or your device and is
                                                mostly used to make the site work as you expect it to. The information
                                                does not usually directly identify you, but it can give you a more
                                                personalized web experience. Because we respect your right to privacy,
                                                you can choose not to allow some types of cookies. Click on the
                                                different category headings to find out more and change our default
                                                settings. However, blocking some types of cookies may impact your
                                                experience of the site and the services we are able to offer.
                                                <br><a href="https://cookiepedia.co.uk/giving-consent-to-cookies"
                                                        class="privacy-notice-link" rel="noopener" target="_blank"
                                                        aria-label="More information about your privacy, opens in a new tab">More
                                                        information</a>
                                        </div><button id="accept-recommended-btn-handler">Allow All</button>
                                        <section class="ot-sdk-row ot-cat-grp">
                                                <h3 id="ot-category-title"> Manage Consent Preferences</h3>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0003"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0003"
                                                                aria-labelledby="ot-header-id-C0003 ot-status-id-C0003"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0003">
                                                                        Functional Cookies</h4>
                                                                <div id="ot-status-id-C0003" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0003">These cookies enable the
                                                                        website to provide enhanced functionality and
                                                                        personalisation. They may be set by us or by
                                                                        third party providers whose services we have
                                                                        added to our pages. If you do not allow these
                                                                        cookies then some or all of these services may
                                                                        not function properly.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0002"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0002"
                                                                aria-labelledby="ot-header-id-C0002 ot-status-id-C0002"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0002">
                                                                        Performance Cookies</h4>
                                                                <div id="ot-status-id-C0002" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0002">These cookies allow us to
                                                                        count visits and traffic sources so we can
                                                                        measure and improve the performance of our site.
                                                                        They help us to know which pages are the most
                                                                        and least popular and see how visitors move
                                                                        around the site. All information these cookies
                                                                        collect is aggregated and therefore anonymous.
                                                                        If you do not allow these cookies we will not
                                                                        know when you have visited our site, and will
                                                                        not be able to monitor its performance.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0004"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0004"
                                                                aria-labelledby="ot-header-id-C0004 ot-status-id-C0004"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0004">
                                                                        Targeting Cookies</h4>
                                                                <div id="ot-status-id-C0004" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0004">These cookies may be set
                                                                        through our site by our advertising partners.
                                                                        They may be used by those companies to build a
                                                                        profile of your interests and show you relevant
                                                                        adverts on other sites. They do not store
                                                                        directly personal information, but are based on
                                                                        uniquely identifying your browser and internet
                                                                        device. If you do not allow these cookies, you
                                                                        will experience less targeted advertising.</p>
                                                        </div>
                                                </div>
                                                <div class="ot-accordion-layout ot-cat-item ot-vs-config"
                                                        data-optanongroupid="C0001"><button aria-expanded="false"
                                                                ot-accordion="true" aria-controls="ot-desc-id-C0001"
                                                                aria-labelledby="ot-header-id-C0001 ot-status-id-C0001"></button><!-- Accordion header -->
                                                        <div class="ot-acc-hdr ot-always-active-group">
                                                                <div class="ot-plus-minus"><span></span><span></span>
                                                                </div>
                                                                <h4 class="ot-cat-header" id="ot-header-id-C0001">
                                                                        Strictly Necessary Cookies</h4>
                                                                <div id="ot-status-id-C0001" class="ot-always-active">
                                                                        Always Active</div>
                                                        </div><!-- accordion detail -->
                                                        <div class="ot-acc-grpcntr ot-acc-txt">
                                                                <p class="ot-acc-grpdesc ot-category-desc"
                                                                        id="ot-desc-id-C0001">These cookies are
                                                                        necessary for the website to function and cannot
                                                                        be switched off in our systems. They are usually
                                                                        only set in response to actions made by you
                                                                        which amount to a request for services, such as
                                                                        setting your privacy preferences, logging in or
                                                                        filling in forms. You can set your browser to
                                                                        block or alert you about these cookies, but some
                                                                        parts of the site will not then work. These
                                                                        cookies do not store any personally identifiable
                                                                        information.</p>
                                                        </div>
                                                </div>
                                                <!-- Groups sections starts --><!-- Group section ends --><!-- Accordion Group section starts --><!-- Accordion Group section ends -->
                                        </section>
                                </div>
                                <section id="ot-pc-lst" class="ot-hide ot-hosts-ui ot-pc-scrollbar">
                                        <div id="ot-pc-hdr">
                                                <div id="ot-lst-title"><button class="ot-link-btn back-btn-handler"
                                                                aria-label="Back"><svg id="ot-back-arw"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        x="0px" y="0px" viewBox="0 0 444.531 444.531"
                                                                        xml:space="preserve">
                                                                        <title>Back Button</title>
                                                                        <g>
                                                                                <path fill="#656565" d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                    l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                    c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                    s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                    L213.13,222.409z"></path>
                                                                        </g>
                                                                </svg></button>
                                                        <h3>Cookie List</h3>
                                                </div>
                                                <div class="ot-lst-subhdr">
                                                        <div class="ot-search-cntr">
                                                                <p role="status" class="ot-scrn-rdr"></p><input
                                                                        id="vendor-search-handler" type="text"
                                                                        name="vendor-search-handler"
                                                                        placeholder="Search…"
                                                                        aria-label="Cookie list search"> <svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        x="0px" y="0px" viewBox="0 -30 110 110"
                                                                        aria-hidden="true">
                                                                        <title>Search Icon</title>
                                                                        <path fill="#2e3644" d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
            s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
            c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
            s-17-7.626-17-17S14.61,6,23.984,6z"></path>
                                                                </svg>
                                                        </div>
                                                        <div class="ot-fltr-cntr"><button id="filter-btn-handler"
                                                                        aria-label="Filter" aria-haspopup="true"><svg
                                                                                role="presentation" aria-hidden="true"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                x="0px" y="0px"
                                                                                viewBox="0 0 402.577 402.577"
                                                                                xml:space="preserve">
                                                                                <title>Filter Icon</title>
                                                                                <g>
                                                                                        <path fill="#fff" d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
      c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
      c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
      C402.765,25.895,404.093,19.231,400.858,11.427z"></path>
                                                                                </g>
                                                                        </svg></button></div>
                                                        <div id="ot-anchor"></div>
                                                        <section id="ot-fltr-modal">
                                                                <div id="ot-fltr-cnt"><button
                                                                                id="clear-filters-handler">Clear</button>
                                                                        <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                                                                                <div class="ot-fltr-opts">
                                                                                        <div class="ot-fltr-opt">
                                                                                                <div class="ot-chkbox">
                                                                                                        <input id="chkbox-id"
                                                                                                                type="checkbox"
                                                                                                                class="category-filter-handler">
                                                                                                        <label
                                                                                                                for="chkbox-id"><span
                                                                                                                        class="ot-label-txt">checkbox
                                                                                                                        label</span></label>
                                                                                                        <span
                                                                                                                class="ot-label-status">label</span>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="ot-fltr-btns"><button
                                                                                                id="filter-apply-handler">Apply</button>
                                                                                        <button
                                                                                                id="filter-cancel-handler">Cancel</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </section>
                                                </div>
                                        </div>
                                        <section id="ot-lst-cnt" class="ot-host-cnt ot-pc-scrollbar">
                                                <div id="ot-sel-blk">
                                                        <div class="ot-sel-all">
                                                                <div class="ot-sel-all-hdr"><span
                                                                                class="ot-consent-hdr">Consent</span>
                                                                        <span class="ot-li-hdr">Leg.Interest</span>
                                                                </div>
                                                                <div class="ot-sel-all-chkbox">
                                                                        <div class="ot-chkbox" id="ot-selall-hostcntr">
                                                                                <input id="select-all-hosts-groups-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-hosts-groups-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-vencntr">
                                                                                <input id="select-all-vendor-groups-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-vendor-groups-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                        <div class="ot-chkbox" id="ot-selall-licntr">
                                                                                <input id="select-all-vendor-leg-handler"
                                                                                        type="checkbox"> <label
                                                                                        for="select-all-vendor-leg-handler"><span
                                                                                                class="ot-label-txt">checkbox
                                                                                                label</span></label>
                                                                                <span
                                                                                        class="ot-label-status">label</span>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="ot-sdk-row">
                                                        <div class="ot-sdk-column"></div>
                                                </div>
                                        </section>
                                </section>
                                <div class="ot-pc-footer ot-pc-scrollbar">
                                        <div class="ot-btn-container"><button class="ot-pc-refuse-all-handler">Reject
                                                        All</button> <button
                                                        class="save-preference-btn-handler onetrust-close-btn-handler">Confirm
                                                        My Choices</button></div><!-- Footer logo -->
                                        <div class="ot-pc-footer-logo"><a
                                                        href="https://www.onetrust.com/products/cookie-consent/"
                                                        target="_blank" rel="noopener noreferrer"
                                                        aria-label="Powered by OneTrust Opens in a new Tab"><img
                                                                alt="Powered by Onetrust"
                                                                src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg"
                                                                title="Powered by OneTrust Opens in a new Tab"></a>
                                        </div>
                                </div>
                                <!-- Cookie subgroup container --><!-- Vendor list link --><!-- Cookie lost link --><!-- Toggle HTML element --><!-- Checkbox HTML --><!-- plus minus--><!-- Arrow SVG element --><!-- Accordion basic element --><span
                                        class="ot-scrn-rdr" aria-atomic="true"
                                        aria-live="polite"></span><!-- Vendor Service container and item template -->
                        </div><iframe class="ot-text-resize" sandbox="allow-same-origin" title="onetrust-text-resize"
                                style="position: absolute; top: -50000px; width: 100em;" aria-hidden="true"></iframe>
                </div>
        </div><iframe allow="join-ad-interest-group" data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131762920"
                height="0" width="0" src="cid:frame-F4CE31253DDD66C1E18644B6609651DE@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131847718" height="0" width="0"
                src="cid:frame-3E7EC935B362C91DB9125AF141ED017E@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131929266" height="0" width="0"
                src="cid:frame-D5047B2A32AE7F0224C1B330079F39F3@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732131992922" height="0" width="0"
                src="cid:frame-9D57FF7B917972D61FEA3949CBC43BD0@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132081715" height="0" width="0"
                src="cid:frame-262B68AA7E96CAE68582F940D103FFA8@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132160330" height="0" width="0"
                src="cid:frame-41D0009B0F1C9E973A1A5D7B77625470@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132237561" height="0" width="0"
                src="cid:frame-28B524128FD6B6EAD921E0D54B629015@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132299080" height="0" width="0"
                src="cid:frame-82851A4D3F2979A3DEB4CC5F53F2A9AA@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132364319" height="0" width="0"
                src="cid:frame-37E859E152B8CD62A76AAF45B059D373@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
                data-tagging-id="G-L0LHQSRDB5" data-load-time="1732132429239" height="0" width="0"
                src="cid:frame-60905562CF12BE5F1D79230A551353BE@mhtml.blink"
                style="display: none; visibility: hidden;"></iframe>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowmode="open">
                <div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration"
                        data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}">
                </div>
        </template></grammarly-desktop-integration>

</html>